// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arr-left-name: 'arr-left';
$arr-left-x: 200px;
$arr-left-y: 140px;
$arr-left-offset-x: -200px;
$arr-left-offset-y: -140px;
$arr-left-width: 10px;
$arr-left-height: 20px;
$arr-left-total-width: 479px;
$arr-left-total-height: 399px;
$arr-left-image: '../images/sprite.png';
$arr-left: (200px, 140px, -200px, -140px, 10px, 20px, 479px, 399px, '../images/sprite.png', 'arr-left', );
$arr-orange-bottom-name: 'arr-orange-bottom';
$arr-orange-bottom-x: 419px;
$arr-orange-bottom-y: 343px;
$arr-orange-bottom-offset-x: -419px;
$arr-orange-bottom-offset-y: -343px;
$arr-orange-bottom-width: 32px;
$arr-orange-bottom-height: 18px;
$arr-orange-bottom-total-width: 479px;
$arr-orange-bottom-total-height: 399px;
$arr-orange-bottom-image: '../images/sprite.png';
$arr-orange-bottom: (419px, 343px, -419px, -343px, 32px, 18px, 479px, 399px, '../images/sprite.png', 'arr-orange-bottom', );
$arr-right-name: 'arr-right';
$arr-right-x: 142px;
$arr-right-y: 116px;
$arr-right-offset-x: -142px;
$arr-right-offset-y: -116px;
$arr-right-width: 10px;
$arr-right-height: 20px;
$arr-right-total-width: 479px;
$arr-right-total-height: 399px;
$arr-right-image: '../images/sprite.png';
$arr-right: (142px, 116px, -142px, -116px, 10px, 20px, 479px, 399px, '../images/sprite.png', 'arr-right', );
$cat-other-hov-name: 'cat-other-hov';
$cat-other-hov-x: 419px;
$cat-other-hov-y: 293px;
$cat-other-hov-offset-x: -419px;
$cat-other-hov-offset-y: -293px;
$cat-other-hov-width: 48px;
$cat-other-hov-height: 15px;
$cat-other-hov-total-width: 479px;
$cat-other-hov-total-height: 399px;
$cat-other-hov-image: '../images/sprite.png';
$cat-other-hov: (419px, 293px, -419px, -293px, 48px, 15px, 479px, 399px, '../images/sprite.png', 'cat-other-hov', );
$cat-other-name: 'cat-other';
$cat-other-x: 419px;
$cat-other-y: 308px;
$cat-other-offset-x: -419px;
$cat-other-offset-y: -308px;
$cat-other-width: 48px;
$cat-other-height: 15px;
$cat-other-total-width: 479px;
$cat-other-total-height: 399px;
$cat-other-image: '../images/sprite.png';
$cat-other: (419px, 308px, -419px, -308px, 48px, 15px, 479px, 399px, '../images/sprite.png', 'cat-other', );
$cat1-hov-name: 'cat1-hov';
$cat1-hov-x: 419px;
$cat1-hov-y: 63px;
$cat1-hov-offset-x: -419px;
$cat1-hov-offset-y: -63px;
$cat1-hov-width: 60px;
$cat1-hov-height: 63px;
$cat1-hov-total-width: 479px;
$cat1-hov-total-height: 399px;
$cat1-hov-image: '../images/sprite.png';
$cat1-hov: (419px, 63px, -419px, -63px, 60px, 63px, 479px, 399px, '../images/sprite.png', 'cat1-hov', );
$cat1-name: 'cat1';
$cat1-x: 419px;
$cat1-y: 0px;
$cat1-offset-x: -419px;
$cat1-offset-y: 0px;
$cat1-width: 60px;
$cat1-height: 63px;
$cat1-total-width: 479px;
$cat1-total-height: 399px;
$cat1-image: '../images/sprite.png';
$cat1: (419px, 0px, -419px, 0px, 60px, 63px, 479px, 399px, '../images/sprite.png', 'cat1', );
$cat10-hov-name: 'cat10-hov';
$cat10-hov-x: 0px;
$cat10-hov-y: 0px;
$cat10-hov-offset-x: 0px;
$cat10-hov-offset-y: 0px;
$cat10-hov-width: 77px;
$cat10-hov-height: 68px;
$cat10-hov-total-width: 479px;
$cat10-hov-total-height: 399px;
$cat10-hov-image: '../images/sprite.png';
$cat10-hov: (0px, 0px, 0px, 0px, 77px, 68px, 479px, 399px, '../images/sprite.png', 'cat10-hov', );
$cat10-name: 'cat10';
$cat10-x: 77px;
$cat10-y: 0px;
$cat10-offset-x: -77px;
$cat10-offset-y: 0px;
$cat10-width: 77px;
$cat10-height: 68px;
$cat10-total-width: 479px;
$cat10-total-height: 399px;
$cat10-image: '../images/sprite.png';
$cat10: (77px, 0px, -77px, 0px, 77px, 68px, 479px, 399px, '../images/sprite.png', 'cat10', );
$cat11-hov-name: 'cat11-hov';
$cat11-hov-x: 77px;
$cat11-hov-y: 195px;
$cat11-hov-offset-x: -77px;
$cat11-hov-offset-y: -195px;
$cat11-hov-width: 77px;
$cat11-hov-height: 60px;
$cat11-hov-total-width: 479px;
$cat11-hov-total-height: 399px;
$cat11-hov-image: '../images/sprite.png';
$cat11-hov: (77px, 195px, -77px, -195px, 77px, 60px, 479px, 399px, '../images/sprite.png', 'cat11-hov', );
$cat11-name: 'cat11';
$cat11-x: 0px;
$cat11-y: 195px;
$cat11-offset-x: 0px;
$cat11-offset-y: -195px;
$cat11-width: 77px;
$cat11-height: 60px;
$cat11-total-width: 479px;
$cat11-total-height: 399px;
$cat11-image: '../images/sprite.png';
$cat11: (0px, 195px, 0px, -195px, 77px, 60px, 479px, 399px, '../images/sprite.png', 'cat11', );
$cat12-hov-name: 'cat12-hov';
$cat12-hov-x: 301px;
$cat12-hov-y: 0px;
$cat12-hov-offset-x: -301px;
$cat12-hov-offset-y: 0px;
$cat12-hov-width: 67px;
$cat12-hov-height: 67px;
$cat12-hov-total-width: 479px;
$cat12-hov-total-height: 399px;
$cat12-hov-image: '../images/sprite.png';
$cat12-hov: (301px, 0px, -301px, 0px, 67px, 67px, 479px, 399px, '../images/sprite.png', 'cat12-hov', );
$cat12-name: 'cat12';
$cat12-x: 227px;
$cat12-y: 126px;
$cat12-offset-x: -227px;
$cat12-offset-y: -126px;
$cat12-width: 67px;
$cat12-height: 67px;
$cat12-total-width: 479px;
$cat12-total-height: 399px;
$cat12-image: '../images/sprite.png';
$cat12: (227px, 126px, -227px, -126px, 67px, 67px, 479px, 399px, '../images/sprite.png', 'cat12', );
$cat13-hov-name: 'cat13-hov';
$cat13-hov-x: 243px;
$cat13-hov-y: 255px;
$cat13-hov-offset-x: -243px;
$cat13-hov-offset-y: -255px;
$cat13-hov-width: 85px;
$cat13-hov-height: 43px;
$cat13-hov-total-width: 479px;
$cat13-hov-total-height: 399px;
$cat13-hov-image: '../images/sprite.png';
$cat13-hov: (243px, 255px, -243px, -255px, 85px, 43px, 479px, 399px, '../images/sprite.png', 'cat13-hov', );
$cat13-name: 'cat13';
$cat13-x: 150px;
$cat13-y: 312px;
$cat13-offset-x: -150px;
$cat13-offset-y: -312px;
$cat13-width: 85px;
$cat13-height: 43px;
$cat13-total-width: 479px;
$cat13-total-height: 399px;
$cat13-image: '../images/sprite.png';
$cat13: (150px, 312px, -150px, -312px, 85px, 43px, 479px, 399px, '../images/sprite.png', 'cat13', );
$cat14-hov-name: 'cat14-hov';
$cat14-hov-x: 301px;
$cat14-hov-y: 67px;
$cat14-hov-offset-x: -301px;
$cat14-hov-offset-y: -67px;
$cat14-hov-width: 65px;
$cat14-hov-height: 69px;
$cat14-hov-total-width: 479px;
$cat14-hov-total-height: 399px;
$cat14-hov-image: '../images/sprite.png';
$cat14-hov: (301px, 67px, -301px, -67px, 65px, 69px, 479px, 399px, '../images/sprite.png', 'cat14-hov', );
$cat14-name: 'cat14';
$cat14-x: 301px;
$cat14-y: 136px;
$cat14-offset-x: -301px;
$cat14-offset-y: -136px;
$cat14-width: 65px;
$cat14-height: 69px;
$cat14-total-width: 479px;
$cat14-total-height: 399px;
$cat14-image: '../images/sprite.png';
$cat14: (301px, 136px, -301px, -136px, 65px, 69px, 479px, 399px, '../images/sprite.png', 'cat14', );
$cat15-hov-name: 'cat15-hov';
$cat15-hov-x: 85px;
$cat15-hov-y: 140px;
$cat15-hov-offset-x: -85px;
$cat15-hov-offset-y: -140px;
$cat15-hov-width: 85px;
$cat15-hov-height: 55px;
$cat15-hov-total-width: 479px;
$cat15-hov-total-height: 399px;
$cat15-hov-image: '../images/sprite.png';
$cat15-hov: (85px, 140px, -85px, -140px, 85px, 55px, 479px, 399px, '../images/sprite.png', 'cat15-hov', );
$cat15-name: 'cat15';
$cat15-x: 0px;
$cat15-y: 140px;
$cat15-offset-x: 0px;
$cat15-offset-y: -140px;
$cat15-width: 85px;
$cat15-height: 55px;
$cat15-total-width: 479px;
$cat15-total-height: 399px;
$cat15-image: '../images/sprite.png';
$cat15: (0px, 140px, 0px, -140px, 85px, 55px, 479px, 399px, '../images/sprite.png', 'cat15', );
$cat16-hov-name: 'cat16-hov';
$cat16-hov-x: 75px;
$cat16-hov-y: 255px;
$cat16-hov-offset-x: -75px;
$cat16-hov-offset-y: -255px;
$cat16-hov-width: 84px;
$cat16-hov-height: 50px;
$cat16-hov-total-width: 479px;
$cat16-hov-total-height: 399px;
$cat16-hov-image: '../images/sprite.png';
$cat16-hov: (75px, 255px, -75px, -255px, 84px, 50px, 479px, 399px, '../images/sprite.png', 'cat16-hov', );
$cat16-name: 'cat16';
$cat16-x: 159px;
$cat16-y: 255px;
$cat16-offset-x: -159px;
$cat16-offset-y: -255px;
$cat16-width: 84px;
$cat16-height: 50px;
$cat16-total-width: 479px;
$cat16-total-height: 399px;
$cat16-image: '../images/sprite.png';
$cat16: (159px, 255px, -159px, -255px, 84px, 50px, 479px, 399px, '../images/sprite.png', 'cat16', );
$cat2-hov-name: 'cat2-hov';
$cat2-hov-x: 154px;
$cat2-hov-y: 69px;
$cat2-hov-offset-x: -154px;
$cat2-hov-offset-y: -69px;
$cat2-hov-width: 73px;
$cat2-hov-height: 69px;
$cat2-hov-total-width: 479px;
$cat2-hov-total-height: 399px;
$cat2-hov-image: '../images/sprite.png';
$cat2-hov: (154px, 69px, -154px, -69px, 73px, 69px, 479px, 399px, '../images/sprite.png', 'cat2-hov', );
$cat2-name: 'cat2';
$cat2-x: 154px;
$cat2-y: 0px;
$cat2-offset-x: -154px;
$cat2-offset-y: 0px;
$cat2-width: 73px;
$cat2-height: 69px;
$cat2-total-width: 479px;
$cat2-total-height: 399px;
$cat2-image: '../images/sprite.png';
$cat2: (154px, 0px, -154px, 0px, 73px, 69px, 479px, 399px, '../images/sprite.png', 'cat2', );
$cat3-hov-name: 'cat3-hov';
$cat3-hov-x: 227px;
$cat3-hov-y: 0px;
$cat3-hov-offset-x: -227px;
$cat3-hov-offset-y: 0px;
$cat3-hov-width: 74px;
$cat3-hov-height: 63px;
$cat3-hov-total-width: 479px;
$cat3-hov-total-height: 399px;
$cat3-hov-image: '../images/sprite.png';
$cat3-hov: (227px, 0px, -227px, 0px, 74px, 63px, 479px, 399px, '../images/sprite.png', 'cat3-hov', );
$cat3-name: 'cat3';
$cat3-x: 227px;
$cat3-y: 63px;
$cat3-offset-x: -227px;
$cat3-offset-y: -63px;
$cat3-width: 74px;
$cat3-height: 63px;
$cat3-total-width: 479px;
$cat3-total-height: 399px;
$cat3-image: '../images/sprite.png';
$cat3: (227px, 63px, -227px, -63px, 74px, 63px, 479px, 399px, '../images/sprite.png', 'cat3', );
$cat4-hov-name: 'cat4-hov';
$cat4-hov-x: 419px;
$cat4-hov-y: 190px;
$cat4-hov-offset-x: -419px;
$cat4-hov-offset-y: -190px;
$cat4-hov-width: 36px;
$cat4-hov-height: 64px;
$cat4-hov-total-width: 479px;
$cat4-hov-total-height: 399px;
$cat4-hov-image: '../images/sprite.png';
$cat4-hov: (419px, 190px, -419px, -190px, 36px, 64px, 479px, 399px, '../images/sprite.png', 'cat4-hov', );
$cat4-name: 'cat4';
$cat4-x: 419px;
$cat4-y: 126px;
$cat4-offset-x: -419px;
$cat4-offset-y: -126px;
$cat4-width: 36px;
$cat4-height: 64px;
$cat4-total-width: 479px;
$cat4-total-height: 399px;
$cat4-image: '../images/sprite.png';
$cat4: (419px, 126px, -419px, -126px, 36px, 64px, 479px, 399px, '../images/sprite.png', 'cat4', );
$cat5-hov-name: 'cat5-hov';
$cat5-hov-x: 0px;
$cat5-hov-y: 255px;
$cat5-hov-offset-x: 0px;
$cat5-hov-offset-y: -255px;
$cat5-hov-width: 75px;
$cat5-hov-height: 57px;
$cat5-hov-total-width: 479px;
$cat5-hov-total-height: 399px;
$cat5-hov-image: '../images/sprite.png';
$cat5-hov: (0px, 255px, 0px, -255px, 75px, 57px, 479px, 399px, '../images/sprite.png', 'cat5-hov', );
$cat5-name: 'cat5';
$cat5-x: 154px;
$cat5-y: 195px;
$cat5-offset-x: -154px;
$cat5-offset-y: -195px;
$cat5-width: 75px;
$cat5-height: 57px;
$cat5-total-width: 479px;
$cat5-total-height: 399px;
$cat5-image: '../images/sprite.png';
$cat5: (154px, 195px, -154px, -195px, 75px, 57px, 479px, 399px, '../images/sprite.png', 'cat5', );
$cat6-hov-name: 'cat6-hov';
$cat6-hov-x: 0px;
$cat6-hov-y: 312px;
$cat6-hov-offset-x: 0px;
$cat6-hov-offset-y: -312px;
$cat6-hov-width: 75px;
$cat6-hov-height: 54px;
$cat6-hov-total-width: 479px;
$cat6-hov-total-height: 399px;
$cat6-hov-image: '../images/sprite.png';
$cat6-hov: (0px, 312px, 0px, -312px, 75px, 54px, 479px, 399px, '../images/sprite.png', 'cat6-hov', );
$cat6-name: 'cat6';
$cat6-x: 75px;
$cat6-y: 312px;
$cat6-offset-x: -75px;
$cat6-offset-y: -312px;
$cat6-width: 75px;
$cat6-height: 54px;
$cat6-total-width: 479px;
$cat6-total-height: 399px;
$cat6-image: '../images/sprite.png';
$cat6: (75px, 312px, -75px, -312px, 75px, 54px, 479px, 399px, '../images/sprite.png', 'cat6', );
$cat7-hov-name: 'cat7-hov';
$cat7-hov-x: 368px;
$cat7-hov-y: 79px;
$cat7-hov-offset-x: -368px;
$cat7-hov-offset-y: -79px;
$cat7-hov-width: 51px;
$cat7-hov-height: 79px;
$cat7-hov-total-width: 479px;
$cat7-hov-total-height: 399px;
$cat7-hov-image: '../images/sprite.png';
$cat7-hov: (368px, 79px, -368px, -79px, 51px, 79px, 479px, 399px, '../images/sprite.png', 'cat7-hov', );
$cat7-name: 'cat7';
$cat7-x: 368px;
$cat7-y: 0px;
$cat7-offset-x: -368px;
$cat7-offset-y: 0px;
$cat7-width: 51px;
$cat7-height: 79px;
$cat7-total-width: 479px;
$cat7-total-height: 399px;
$cat7-image: '../images/sprite.png';
$cat7: (368px, 0px, -368px, 0px, 51px, 79px, 479px, 399px, '../images/sprite.png', 'cat7', );
$cat8-hov-name: 'cat8-hov';
$cat8-hov-x: 235px;
$cat8-hov-y: 312px;
$cat8-hov-offset-x: -235px;
$cat8-hov-offset-y: -312px;
$cat8-hov-width: 107px;
$cat8-hov-height: 33px;
$cat8-hov-total-width: 479px;
$cat8-hov-total-height: 399px;
$cat8-hov-image: '../images/sprite.png';
$cat8-hov: (235px, 312px, -235px, -312px, 107px, 33px, 479px, 399px, '../images/sprite.png', 'cat8-hov', );
$cat8-name: 'cat8';
$cat8-x: 0px;
$cat8-y: 366px;
$cat8-offset-x: 0px;
$cat8-offset-y: -366px;
$cat8-width: 107px;
$cat8-height: 33px;
$cat8-total-width: 479px;
$cat8-total-height: 399px;
$cat8-image: '../images/sprite.png';
$cat8: (0px, 366px, 0px, -366px, 107px, 33px, 479px, 399px, '../images/sprite.png', 'cat8', );
$cat9-hov-name: 'cat9-hov';
$cat9-hov-x: 71px;
$cat9-hov-y: 68px;
$cat9-hov-offset-x: -71px;
$cat9-hov-offset-y: -68px;
$cat9-hov-width: 71px;
$cat9-hov-height: 72px;
$cat9-hov-total-width: 479px;
$cat9-hov-total-height: 399px;
$cat9-hov-image: '../images/sprite.png';
$cat9-hov: (71px, 68px, -71px, -68px, 71px, 72px, 479px, 399px, '../images/sprite.png', 'cat9-hov', );
$cat9-name: 'cat9';
$cat9-x: 0px;
$cat9-y: 68px;
$cat9-offset-x: 0px;
$cat9-offset-y: -68px;
$cat9-width: 71px;
$cat9-height: 72px;
$cat9-total-width: 479px;
$cat9-total-height: 399px;
$cat9-image: '../images/sprite.png';
$cat9: (0px, 68px, 0px, -68px, 71px, 72px, 479px, 399px, '../images/sprite.png', 'cat9', );
$ic-add-mage-name: 'ic-add-mage';
$ic-add-mage-x: 419px;
$ic-add-mage-y: 254px;
$ic-add-mage-offset-x: -419px;
$ic-add-mage-offset-y: -254px;
$ic-add-mage-width: 39px;
$ic-add-mage-height: 39px;
$ic-add-mage-total-width: 479px;
$ic-add-mage-total-height: 399px;
$ic-add-mage-image: '../images/sprite.png';
$ic-add-mage: (419px, 254px, -419px, -254px, 39px, 39px, 479px, 399px, '../images/sprite.png', 'ic-add-mage', );
$ic-cat-agricultural-act-name: 'ic-cat-agricultural-act';
$ic-cat-agricultural-act-x: 395px;
$ic-cat-agricultural-act-y: 179px;
$ic-cat-agricultural-act-offset-x: -395px;
$ic-cat-agricultural-act-offset-y: -179px;
$ic-cat-agricultural-act-width: 24px;
$ic-cat-agricultural-act-height: 20px;
$ic-cat-agricultural-act-total-width: 479px;
$ic-cat-agricultural-act-total-height: 399px;
$ic-cat-agricultural-act-image: '../images/sprite.png';
$ic-cat-agricultural-act: (395px, 179px, -395px, -179px, 24px, 20px, 479px, 399px, '../images/sprite.png', 'ic-cat-agricultural-act', );
$ic-cat-agricultural-name: 'ic-cat-agricultural';
$ic-cat-agricultural-x: 395px;
$ic-cat-agricultural-y: 158px;
$ic-cat-agricultural-offset-x: -395px;
$ic-cat-agricultural-offset-y: -158px;
$ic-cat-agricultural-width: 24px;
$ic-cat-agricultural-height: 20px;
$ic-cat-agricultural-total-width: 479px;
$ic-cat-agricultural-total-height: 399px;
$ic-cat-agricultural-image: '../images/sprite.png';
$ic-cat-agricultural: (395px, 158px, -395px, -158px, 24px, 20px, 479px, 399px, '../images/sprite.png', 'ic-cat-agricultural', );
$ic-cat-attachments-act-name: 'ic-cat-attachments-act';
$ic-cat-attachments-act-x: 142px;
$ic-cat-attachments-act-y: 92px;
$ic-cat-attachments-act-offset-x: -142px;
$ic-cat-attachments-act-offset-y: -92px;
$ic-cat-attachments-act-width: 11px;
$ic-cat-attachments-act-height: 24px;
$ic-cat-attachments-act-total-width: 479px;
$ic-cat-attachments-act-total-height: 399px;
$ic-cat-attachments-act-image: '../images/sprite.png';
$ic-cat-attachments-act: (142px, 92px, -142px, -92px, 11px, 24px, 479px, 399px, '../images/sprite.png', 'ic-cat-attachments-act', );
$ic-cat-attachments-name: 'ic-cat-attachments';
$ic-cat-attachments-x: 142px;
$ic-cat-attachments-y: 68px;
$ic-cat-attachments-offset-x: -142px;
$ic-cat-attachments-offset-y: -68px;
$ic-cat-attachments-width: 11px;
$ic-cat-attachments-height: 24px;
$ic-cat-attachments-total-width: 479px;
$ic-cat-attachments-total-height: 399px;
$ic-cat-attachments-image: '../images/sprite.png';
$ic-cat-attachments: (142px, 68px, -142px, -68px, 11px, 24px, 479px, 399px, '../images/sprite.png', 'ic-cat-attachments', );
$ic-cat-containers-act-name: 'ic-cat-containers-act';
$ic-cat-containers-act-x: 455px;
$ic-cat-containers-act-y: 174px;
$ic-cat-containers-act-offset-x: -455px;
$ic-cat-containers-act-offset-y: -174px;
$ic-cat-containers-act-width: 24px;
$ic-cat-containers-act-height: 15px;
$ic-cat-containers-act-total-width: 479px;
$ic-cat-containers-act-total-height: 399px;
$ic-cat-containers-act-image: '../images/sprite.png';
$ic-cat-containers-act: (455px, 174px, -455px, -174px, 24px, 15px, 479px, 399px, '../images/sprite.png', 'ic-cat-containers-act', );
$ic-cat-containers-name: 'ic-cat-containers';
$ic-cat-containers-x: 322px;
$ic-cat-containers-y: 205px;
$ic-cat-containers-offset-x: -322px;
$ic-cat-containers-offset-y: -205px;
$ic-cat-containers-width: 24px;
$ic-cat-containers-height: 15px;
$ic-cat-containers-total-width: 479px;
$ic-cat-containers-total-height: 399px;
$ic-cat-containers-image: '../images/sprite.png';
$ic-cat-containers: (322px, 205px, -322px, -205px, 24px, 15px, 479px, 399px, '../images/sprite.png', 'ic-cat-containers', );
$ic-cat-cranes-act-name: 'ic-cat-cranes-act';
$ic-cat-cranes-act-x: 301px;
$ic-cat-cranes-act-y: 205px;
$ic-cat-cranes-act-offset-x: -301px;
$ic-cat-cranes-act-offset-y: -205px;
$ic-cat-cranes-act-width: 21px;
$ic-cat-cranes-act-height: 21px;
$ic-cat-cranes-act-total-width: 479px;
$ic-cat-cranes-act-total-height: 399px;
$ic-cat-cranes-act-image: '../images/sprite.png';
$ic-cat-cranes-act: (301px, 205px, -301px, -205px, 21px, 21px, 479px, 399px, '../images/sprite.png', 'ic-cat-cranes-act', );
$ic-cat-cranes-name: 'ic-cat-cranes';
$ic-cat-cranes-x: 458px;
$ic-cat-cranes-y: 254px;
$ic-cat-cranes-offset-x: -458px;
$ic-cat-cranes-offset-y: -254px;
$ic-cat-cranes-width: 21px;
$ic-cat-cranes-height: 21px;
$ic-cat-cranes-total-width: 479px;
$ic-cat-cranes-total-height: 399px;
$ic-cat-cranes-image: '../images/sprite.png';
$ic-cat-cranes: (458px, 254px, -458px, -254px, 21px, 21px, 479px, 399px, '../images/sprite.png', 'ic-cat-cranes', );
$ic-cat-engines-act-name: 'ic-cat-engines-act';
$ic-cat-engines-act-x: 455px;
$ic-cat-engines-act-y: 237px;
$ic-cat-engines-act-offset-x: -455px;
$ic-cat-engines-act-offset-y: -237px;
$ic-cat-engines-act-width: 23px;
$ic-cat-engines-act-height: 17px;
$ic-cat-engines-act-total-width: 479px;
$ic-cat-engines-act-total-height: 399px;
$ic-cat-engines-act-image: '../images/sprite.png';
$ic-cat-engines-act: (455px, 237px, -455px, -237px, 23px, 17px, 479px, 399px, '../images/sprite.png', 'ic-cat-engines-act', );
$ic-cat-engines-name: 'ic-cat-engines';
$ic-cat-engines-x: 394px;
$ic-cat-engines-y: 303px;
$ic-cat-engines-offset-x: -394px;
$ic-cat-engines-offset-y: -303px;
$ic-cat-engines-width: 23px;
$ic-cat-engines-height: 17px;
$ic-cat-engines-total-width: 479px;
$ic-cat-engines-total-height: 399px;
$ic-cat-engines-image: '../images/sprite.png';
$ic-cat-engines: (394px, 303px, -394px, -303px, 23px, 17px, 479px, 399px, '../images/sprite.png', 'ic-cat-engines', );
$ic-cat-equipment-act-name: 'ic-cat-equipment-act';
$ic-cat-equipment-act-x: 394px;
$ic-cat-equipment-act-y: 223px;
$ic-cat-equipment-act-offset-x: -394px;
$ic-cat-equipment-act-offset-y: -223px;
$ic-cat-equipment-act-width: 23px;
$ic-cat-equipment-act-height: 19px;
$ic-cat-equipment-act-total-width: 479px;
$ic-cat-equipment-act-total-height: 399px;
$ic-cat-equipment-act-image: '../images/sprite.png';
$ic-cat-equipment-act: (394px, 223px, -394px, -223px, 23px, 19px, 479px, 399px, '../images/sprite.png', 'ic-cat-equipment-act', );
$ic-cat-equipment-name: 'ic-cat-equipment';
$ic-cat-equipment-x: 395px;
$ic-cat-equipment-y: 243px;
$ic-cat-equipment-offset-x: -395px;
$ic-cat-equipment-offset-y: -243px;
$ic-cat-equipment-width: 23px;
$ic-cat-equipment-height: 19px;
$ic-cat-equipment-total-width: 479px;
$ic-cat-equipment-total-height: 399px;
$ic-cat-equipment-image: '../images/sprite.png';
$ic-cat-equipment: (395px, 243px, -395px, -243px, 23px, 19px, 479px, 399px, '../images/sprite.png', 'ic-cat-equipment', );
$ic-cat-forestry-act-name: 'ic-cat-forestry-act';
$ic-cat-forestry-act-x: 368px;
$ic-cat-forestry-act-y: 179px;
$ic-cat-forestry-act-offset-x: -368px;
$ic-cat-forestry-act-offset-y: -179px;
$ic-cat-forestry-act-width: 27px;
$ic-cat-forestry-act-height: 21px;
$ic-cat-forestry-act-total-width: 479px;
$ic-cat-forestry-act-total-height: 399px;
$ic-cat-forestry-act-image: '../images/sprite.png';
$ic-cat-forestry-act: (368px, 179px, -368px, -179px, 27px, 21px, 479px, 399px, '../images/sprite.png', 'ic-cat-forestry-act', );
$ic-cat-forestry-name: 'ic-cat-forestry';
$ic-cat-forestry-x: 368px;
$ic-cat-forestry-y: 158px;
$ic-cat-forestry-offset-x: -368px;
$ic-cat-forestry-offset-y: -158px;
$ic-cat-forestry-width: 27px;
$ic-cat-forestry-height: 21px;
$ic-cat-forestry-total-width: 479px;
$ic-cat-forestry-total-height: 399px;
$ic-cat-forestry-image: '../images/sprite.png';
$ic-cat-forestry: (368px, 158px, -368px, -158px, 27px, 21px, 479px, 399px, '../images/sprite.png', 'ic-cat-forestry', );
$ic-cat-forklifts-act-name: 'ic-cat-forklifts-act';
$ic-cat-forklifts-act-x: 391px;
$ic-cat-forklifts-act-y: 200px;
$ic-cat-forklifts-act-offset-x: -391px;
$ic-cat-forklifts-act-offset-y: -200px;
$ic-cat-forklifts-act-width: 26px;
$ic-cat-forklifts-act-height: 20px;
$ic-cat-forklifts-act-total-width: 479px;
$ic-cat-forklifts-act-total-height: 399px;
$ic-cat-forklifts-act-image: '../images/sprite.png';
$ic-cat-forklifts-act: (391px, 200px, -391px, -200px, 26px, 20px, 479px, 399px, '../images/sprite.png', 'ic-cat-forklifts-act', );
$ic-cat-forklifts-name: 'ic-cat-forklifts';
$ic-cat-forklifts-x: 368px;
$ic-cat-forklifts-y: 223px;
$ic-cat-forklifts-offset-x: -368px;
$ic-cat-forklifts-offset-y: -223px;
$ic-cat-forklifts-width: 26px;
$ic-cat-forklifts-height: 20px;
$ic-cat-forklifts-total-width: 479px;
$ic-cat-forklifts-total-height: 399px;
$ic-cat-forklifts-image: '../images/sprite.png';
$ic-cat-forklifts: (368px, 223px, -368px, -223px, 26px, 20px, 479px, 399px, '../images/sprite.png', 'ic-cat-forklifts', );
$ic-cat-industrial-act-name: 'ic-cat-industrial-act';
$ic-cat-industrial-act-x: 185px;
$ic-cat-industrial-act-y: 140px;
$ic-cat-industrial-act-offset-x: -185px;
$ic-cat-industrial-act-offset-y: -140px;
$ic-cat-industrial-act-width: 15px;
$ic-cat-industrial-act-height: 21px;
$ic-cat-industrial-act-total-width: 479px;
$ic-cat-industrial-act-total-height: 399px;
$ic-cat-industrial-act-image: '../images/sprite.png';
$ic-cat-industrial-act: (185px, 140px, -185px, -140px, 15px, 21px, 479px, 399px, '../images/sprite.png', 'ic-cat-industrial-act', );
$ic-cat-industrial-name: 'ic-cat-industrial';
$ic-cat-industrial-x: 170px;
$ic-cat-industrial-y: 140px;
$ic-cat-industrial-offset-x: -170px;
$ic-cat-industrial-offset-y: -140px;
$ic-cat-industrial-width: 15px;
$ic-cat-industrial-height: 21px;
$ic-cat-industrial-total-width: 479px;
$ic-cat-industrial-total-height: 399px;
$ic-cat-industrial-image: '../images/sprite.png';
$ic-cat-industrial: (170px, 140px, -170px, -140px, 15px, 21px, 479px, 399px, '../images/sprite.png', 'ic-cat-industrial', );
$ic-cat-machinery-act-name: 'ic-cat-machinery-act';
$ic-cat-machinery-act-x: 368px;
$ic-cat-machinery-act-y: 262px;
$ic-cat-machinery-act-offset-x: -368px;
$ic-cat-machinery-act-offset-y: -262px;
$ic-cat-machinery-act-width: 27px;
$ic-cat-machinery-act-height: 19px;
$ic-cat-machinery-act-total-width: 479px;
$ic-cat-machinery-act-total-height: 399px;
$ic-cat-machinery-act-image: '../images/sprite.png';
$ic-cat-machinery-act: (368px, 262px, -368px, -262px, 27px, 19px, 479px, 399px, '../images/sprite.png', 'ic-cat-machinery-act', );
$ic-cat-machinery-name: 'ic-cat-machinery';
$ic-cat-machinery-x: 368px;
$ic-cat-machinery-y: 243px;
$ic-cat-machinery-offset-x: -368px;
$ic-cat-machinery-offset-y: -243px;
$ic-cat-machinery-width: 27px;
$ic-cat-machinery-height: 19px;
$ic-cat-machinery-total-width: 479px;
$ic-cat-machinery-total-height: 399px;
$ic-cat-machinery-image: '../images/sprite.png';
$ic-cat-machinery: (368px, 243px, -368px, -243px, 27px, 19px, 479px, 399px, '../images/sprite.png', 'ic-cat-machinery', );
$ic-cat-municipal-act-name: 'ic-cat-municipal-act';
$ic-cat-municipal-act-x: 368px;
$ic-cat-municipal-act-y: 321px;
$ic-cat-municipal-act-offset-x: -368px;
$ic-cat-municipal-act-offset-y: -321px;
$ic-cat-municipal-act-width: 29px;
$ic-cat-municipal-act-height: 16px;
$ic-cat-municipal-act-total-width: 479px;
$ic-cat-municipal-act-total-height: 399px;
$ic-cat-municipal-act-image: '../images/sprite.png';
$ic-cat-municipal-act: (368px, 321px, -368px, -321px, 29px, 16px, 479px, 399px, '../images/sprite.png', 'ic-cat-municipal-act', );
$ic-cat-municipal-name: 'ic-cat-municipal';
$ic-cat-municipal-x: 368px;
$ic-cat-municipal-y: 337px;
$ic-cat-municipal-offset-x: -368px;
$ic-cat-municipal-offset-y: -337px;
$ic-cat-municipal-width: 29px;
$ic-cat-municipal-height: 16px;
$ic-cat-municipal-total-width: 479px;
$ic-cat-municipal-total-height: 399px;
$ic-cat-municipal-image: '../images/sprite.png';
$ic-cat-municipal: (368px, 337px, -368px, -337px, 29px, 16px, 479px, 399px, '../images/sprite.png', 'ic-cat-municipal', );
$ic-cat-others-act-name: 'ic-cat-others-act';
$ic-cat-others-act-x: 440px;
$ic-cat-others-act-y: 361px;
$ic-cat-others-act-offset-x: -440px;
$ic-cat-others-act-offset-y: -361px;
$ic-cat-others-act-width: 21px;
$ic-cat-others-act-height: 5px;
$ic-cat-others-act-total-width: 479px;
$ic-cat-others-act-total-height: 399px;
$ic-cat-others-act-image: '../images/sprite.png';
$ic-cat-others-act: (440px, 361px, -440px, -361px, 21px, 5px, 479px, 399px, '../images/sprite.png', 'ic-cat-others-act', );
$ic-cat-others-name: 'ic-cat-others';
$ic-cat-others-x: 419px;
$ic-cat-others-y: 361px;
$ic-cat-others-offset-x: -419px;
$ic-cat-others-offset-y: -361px;
$ic-cat-others-width: 21px;
$ic-cat-others-height: 5px;
$ic-cat-others-total-width: 479px;
$ic-cat-others-total-height: 399px;
$ic-cat-others-image: '../images/sprite.png';
$ic-cat-others: (419px, 361px, -419px, -361px, 21px, 5px, 479px, 399px, '../images/sprite.png', 'ic-cat-others', );
$ic-cat-recyclings-act-name: 'ic-cat-recyclings-act';
$ic-cat-recyclings-act-x: 368px;
$ic-cat-recyclings-act-y: 303px;
$ic-cat-recyclings-act-offset-x: -368px;
$ic-cat-recyclings-act-offset-y: -303px;
$ic-cat-recyclings-act-width: 26px;
$ic-cat-recyclings-act-height: 18px;
$ic-cat-recyclings-act-total-width: 479px;
$ic-cat-recyclings-act-total-height: 399px;
$ic-cat-recyclings-act-image: '../images/sprite.png';
$ic-cat-recyclings-act: (368px, 303px, -368px, -303px, 26px, 18px, 479px, 399px, '../images/sprite.png', 'ic-cat-recyclings-act', );
$ic-cat-recyclings-name: 'ic-cat-recyclings';
$ic-cat-recyclings-x: 451px;
$ic-cat-recyclings-y: 343px;
$ic-cat-recyclings-offset-x: -451px;
$ic-cat-recyclings-offset-y: -343px;
$ic-cat-recyclings-width: 26px;
$ic-cat-recyclings-height: 18px;
$ic-cat-recyclings-total-width: 479px;
$ic-cat-recyclings-total-height: 399px;
$ic-cat-recyclings-image: '../images/sprite.png';
$ic-cat-recyclings: (451px, 343px, -451px, -343px, 26px, 18px, 479px, 399px, '../images/sprite.png', 'ic-cat-recyclings', );
$ic-cat-spare-act-name: 'ic-cat-spare-act';
$ic-cat-spare-act-x: 368px;
$ic-cat-spare-act-y: 281px;
$ic-cat-spare-act-offset-x: -368px;
$ic-cat-spare-act-offset-y: -281px;
$ic-cat-spare-act-width: 22px;
$ic-cat-spare-act-height: 22px;
$ic-cat-spare-act-total-width: 479px;
$ic-cat-spare-act-total-height: 399px;
$ic-cat-spare-act-image: '../images/sprite.png';
$ic-cat-spare-act: (368px, 281px, -368px, -281px, 22px, 22px, 479px, 399px, '../images/sprite.png', 'ic-cat-spare-act', );
$ic-cat-spare-name: 'ic-cat-spare';
$ic-cat-spare-x: 390px;
$ic-cat-spare-y: 281px;
$ic-cat-spare-offset-x: -390px;
$ic-cat-spare-offset-y: -281px;
$ic-cat-spare-width: 22px;
$ic-cat-spare-height: 22px;
$ic-cat-spare-total-width: 479px;
$ic-cat-spare-total-height: 399px;
$ic-cat-spare-image: '../images/sprite.png';
$ic-cat-spare: (390px, 281px, -390px, -281px, 22px, 22px, 479px, 399px, '../images/sprite.png', 'ic-cat-spare', );
$ic-cat-trailers-act-name: 'ic-cat-trailers-act';
$ic-cat-trailers-act-x: 368px;
$ic-cat-trailers-act-y: 353px;
$ic-cat-trailers-act-offset-x: -368px;
$ic-cat-trailers-act-offset-y: -353px;
$ic-cat-trailers-act-width: 28px;
$ic-cat-trailers-act-height: 12px;
$ic-cat-trailers-act-total-width: 479px;
$ic-cat-trailers-act-total-height: 399px;
$ic-cat-trailers-act-image: '../images/sprite.png';
$ic-cat-trailers-act: (368px, 353px, -368px, -353px, 28px, 12px, 479px, 399px, '../images/sprite.png', 'ic-cat-trailers-act', );
$ic-cat-trailers-name: 'ic-cat-trailers';
$ic-cat-trailers-x: 301px;
$ic-cat-trailers-y: 226px;
$ic-cat-trailers-offset-x: -301px;
$ic-cat-trailers-offset-y: -226px;
$ic-cat-trailers-width: 28px;
$ic-cat-trailers-height: 12px;
$ic-cat-trailers-total-width: 479px;
$ic-cat-trailers-total-height: 399px;
$ic-cat-trailers-image: '../images/sprite.png';
$ic-cat-trailers: (301px, 226px, -301px, -226px, 28px, 12px, 479px, 399px, '../images/sprite.png', 'ic-cat-trailers', );
$ic-cat-utility-act-name: 'ic-cat-utility-act';
$ic-cat-utility-act-x: 448px;
$ic-cat-utility-act-y: 323px;
$ic-cat-utility-act-offset-x: -448px;
$ic-cat-utility-act-offset-y: -323px;
$ic-cat-utility-act-width: 29px;
$ic-cat-utility-act-height: 20px;
$ic-cat-utility-act-total-width: 479px;
$ic-cat-utility-act-total-height: 399px;
$ic-cat-utility-act-image: '../images/sprite.png';
$ic-cat-utility-act: (448px, 323px, -448px, -323px, 29px, 20px, 479px, 399px, '../images/sprite.png', 'ic-cat-utility-act', );
$ic-cat-utility-name: 'ic-cat-utility';
$ic-cat-utility-x: 419px;
$ic-cat-utility-y: 323px;
$ic-cat-utility-offset-x: -419px;
$ic-cat-utility-offset-y: -323px;
$ic-cat-utility-width: 29px;
$ic-cat-utility-height: 20px;
$ic-cat-utility-total-width: 479px;
$ic-cat-utility-total-height: 399px;
$ic-cat-utility-image: '../images/sprite.png';
$ic-cat-utility: (419px, 323px, -419px, -323px, 29px, 20px, 479px, 399px, '../images/sprite.png', 'ic-cat-utility', );
$ic-cat-work-act-name: 'ic-cat-work-act';
$ic-cat-work-act-x: 397px;
$ic-cat-work-act-y: 321px;
$ic-cat-work-act-offset-x: -397px;
$ic-cat-work-act-offset-y: -321px;
$ic-cat-work-act-width: 22px;
$ic-cat-work-act-height: 15px;
$ic-cat-work-act-total-width: 479px;
$ic-cat-work-act-total-height: 399px;
$ic-cat-work-act-image: '../images/sprite.png';
$ic-cat-work-act: (397px, 321px, -397px, -321px, 22px, 15px, 479px, 399px, '../images/sprite.png', 'ic-cat-work-act', );
$ic-cat-work-name: 'ic-cat-work';
$ic-cat-work-x: 397px;
$ic-cat-work-y: 337px;
$ic-cat-work-offset-x: -397px;
$ic-cat-work-offset-y: -337px;
$ic-cat-work-width: 22px;
$ic-cat-work-height: 15px;
$ic-cat-work-total-width: 479px;
$ic-cat-work-total-height: 399px;
$ic-cat-work-image: '../images/sprite.png';
$ic-cat-work: (397px, 337px, -397px, -337px, 22px, 15px, 479px, 399px, '../images/sprite.png', 'ic-cat-work', );
$ic-earth-name: 'ic-earth';
$ic-earth-x: 458px;
$ic-earth-y: 275px;
$ic-earth-offset-x: -458px;
$ic-earth-offset-y: -275px;
$ic-earth-width: 17px;
$ic-earth-height: 17px;
$ic-earth-total-width: 479px;
$ic-earth-total-height: 399px;
$ic-earth-image: '../images/sprite.png';
$ic-earth: (458px, 275px, -458px, -275px, 17px, 17px, 479px, 399px, '../images/sprite.png', 'ic-earth', );
$ic-fb-name: 'ic-fb';
$ic-fb-x: 455px;
$ic-fb-y: 150px;
$ic-fb-offset-x: -455px;
$ic-fb-offset-y: -150px;
$ic-fb-width: 24px;
$ic-fb-height: 24px;
$ic-fb-total-width: 479px;
$ic-fb-total-height: 399px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (455px, 150px, -455px, -150px, 24px, 24px, 479px, 399px, '../images/sprite.png', 'ic-fb', );
$ic-in-name: 'ic-in';
$ic-in-x: 368px;
$ic-in-y: 200px;
$ic-in-offset-x: -368px;
$ic-in-offset-y: -200px;
$ic-in-width: 23px;
$ic-in-height: 23px;
$ic-in-total-width: 479px;
$ic-in-total-height: 399px;
$ic-in-image: '../images/sprite.png';
$ic-in: (368px, 200px, -368px, -200px, 23px, 23px, 479px, 399px, '../images/sprite.png', 'ic-in', );
$ic-skype-name: 'ic-skype';
$ic-skype-x: 455px;
$ic-skype-y: 214px;
$ic-skype-offset-x: -455px;
$ic-skype-offset-y: -214px;
$ic-skype-width: 23px;
$ic-skype-height: 23px;
$ic-skype-total-width: 479px;
$ic-skype-total-height: 399px;
$ic-skype-image: '../images/sprite.png';
$ic-skype: (455px, 214px, -455px, -214px, 23px, 23px, 479px, 399px, '../images/sprite.png', 'ic-skype', );
$ic-tw-name: 'ic-tw';
$ic-tw-x: 455px;
$ic-tw-y: 190px;
$ic-tw-offset-x: -455px;
$ic-tw-offset-y: -190px;
$ic-tw-width: 24px;
$ic-tw-height: 24px;
$ic-tw-total-width: 479px;
$ic-tw-total-height: 399px;
$ic-tw-image: '../images/sprite.png';
$ic-tw: (455px, 190px, -455px, -190px, 24px, 24px, 479px, 399px, '../images/sprite.png', 'ic-tw', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 455px;
$icon-fb-y: 126px;
$icon-fb-offset-x: -455px;
$icon-fb-offset-y: -126px;
$icon-fb-width: 24px;
$icon-fb-height: 24px;
$icon-fb-total-width: 479px;
$icon-fb-total-height: 399px;
$icon-fb-image: '../images/sprite.png';
$icon-fb: (455px, 126px, -455px, -126px, 24px, 24px, 479px, 399px, '../images/sprite.png', 'icon-fb', );
$icon-grid-act-name: 'icon-grid-act';
$icon-grid-act-x: 317px;
$icon-grid-act-y: 238px;
$icon-grid-act-offset-x: -317px;
$icon-grid-act-offset-y: -238px;
$icon-grid-act-width: 14px;
$icon-grid-act-height: 14px;
$icon-grid-act-total-width: 479px;
$icon-grid-act-total-height: 399px;
$icon-grid-act-image: '../images/sprite.png';
$icon-grid-act: (317px, 238px, -317px, -238px, 14px, 14px, 479px, 399px, '../images/sprite.png', 'icon-grid-act', );
$icon-grid-name: 'icon-grid';
$icon-grid-x: 331px;
$icon-grid-y: 238px;
$icon-grid-offset-x: -331px;
$icon-grid-offset-y: -238px;
$icon-grid-width: 14px;
$icon-grid-height: 14px;
$icon-grid-total-width: 479px;
$icon-grid-total-height: 399px;
$icon-grid-image: '../images/sprite.png';
$icon-grid: (331px, 238px, -331px, -238px, 14px, 14px, 479px, 399px, '../images/sprite.png', 'icon-grid', );
$icon-list-act-name: 'icon-list-act';
$icon-list-act-x: 346px;
$icon-list-act-y: 205px;
$icon-list-act-offset-x: -346px;
$icon-list-act-offset-y: -205px;
$icon-list-act-width: 16px;
$icon-list-act-height: 14px;
$icon-list-act-total-width: 479px;
$icon-list-act-total-height: 399px;
$icon-list-act-image: '../images/sprite.png';
$icon-list-act: (346px, 205px, -346px, -205px, 16px, 14px, 479px, 399px, '../images/sprite.png', 'icon-list-act', );
$icon-list-name: 'icon-list';
$icon-list-x: 301px;
$icon-list-y: 238px;
$icon-list-offset-x: -301px;
$icon-list-offset-y: -238px;
$icon-list-width: 16px;
$icon-list-height: 14px;
$icon-list-total-width: 479px;
$icon-list-total-height: 399px;
$icon-list-image: '../images/sprite.png';
$icon-list: (301px, 238px, -301px, -238px, 16px, 14px, 479px, 399px, '../images/sprite.png', 'icon-list', );
$lang-de-name: 'lang-de';
$lang-de-x: 395px;
$lang-de-y: 262px;
$lang-de-offset-x: -395px;
$lang-de-offset-y: -262px;
$lang-de-width: 24px;
$lang-de-height: 18px;
$lang-de-total-width: 479px;
$lang-de-total-height: 399px;
$lang-de-image: '../images/sprite.png';
$lang-de: (395px, 262px, -395px, -262px, 24px, 18px, 479px, 399px, '../images/sprite.png', 'lang-de', );
$spritesheet-width: 479px;
$spritesheet-height: 399px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arr-left, $arr-orange-bottom, $arr-right, $cat-other-hov, $cat-other, $cat1-hov, $cat1, $cat10-hov, $cat10, $cat11-hov, $cat11, $cat12-hov, $cat12, $cat13-hov, $cat13, $cat14-hov, $cat14, $cat15-hov, $cat15, $cat16-hov, $cat16, $cat2-hov, $cat2, $cat3-hov, $cat3, $cat4-hov, $cat4, $cat5-hov, $cat5, $cat6-hov, $cat6, $cat7-hov, $cat7, $cat8-hov, $cat8, $cat9-hov, $cat9, $ic-add-mage, $ic-cat-agricultural-act, $ic-cat-agricultural, $ic-cat-attachments-act, $ic-cat-attachments, $ic-cat-containers-act, $ic-cat-containers, $ic-cat-cranes-act, $ic-cat-cranes, $ic-cat-engines-act, $ic-cat-engines, $ic-cat-equipment-act, $ic-cat-equipment, $ic-cat-forestry-act, $ic-cat-forestry, $ic-cat-forklifts-act, $ic-cat-forklifts, $ic-cat-industrial-act, $ic-cat-industrial, $ic-cat-machinery-act, $ic-cat-machinery, $ic-cat-municipal-act, $ic-cat-municipal, $ic-cat-others-act, $ic-cat-others, $ic-cat-recyclings-act, $ic-cat-recyclings, $ic-cat-spare-act, $ic-cat-spare, $ic-cat-trailers-act, $ic-cat-trailers, $ic-cat-utility-act, $ic-cat-utility, $ic-cat-work-act, $ic-cat-work, $ic-earth, $ic-fb, $ic-in, $ic-skype, $ic-tw, $icon-fb, $icon-grid-act, $icon-grid, $icon-list-act, $icon-list, $lang-de, );
$spritesheet: (479px, 399px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
