// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arr-left-name: 'arr-left';
$arr-left-x: 502px;
$arr-left-y: 26px;
$arr-left-offset-x: -502px;
$arr-left-offset-y: -26px;
$arr-left-width: 10px;
$arr-left-height: 20px;
$arr-left-total-width: 513px;
$arr-left-total-height: 482px;
$arr-left-image: '../images/sprite.png';
$arr-left: (502px, 26px, -502px, -26px, 10px, 20px, 513px, 482px, '../images/sprite.png', 'arr-left', );
$arr-orange-bottom-name: 'arr-orange-bottom';
$arr-orange-bottom-x: 464px;
$arr-orange-bottom-y: 206px;
$arr-orange-bottom-offset-x: -464px;
$arr-orange-bottom-offset-y: -206px;
$arr-orange-bottom-width: 32px;
$arr-orange-bottom-height: 18px;
$arr-orange-bottom-total-width: 513px;
$arr-orange-bottom-total-height: 482px;
$arr-orange-bottom-image: '../images/sprite.png';
$arr-orange-bottom: (464px, 206px, -464px, -206px, 32px, 18px, 513px, 482px, '../images/sprite.png', 'arr-orange-bottom', );
$arr-right-name: 'arr-right';
$arr-right-x: 502px;
$arr-right-y: 48px;
$arr-right-offset-x: -502px;
$arr-right-offset-y: -48px;
$arr-right-width: 10px;
$arr-right-height: 20px;
$arr-right-total-width: 513px;
$arr-right-total-height: 482px;
$arr-right-image: '../images/sprite.png';
$arr-right: (502px, 48px, -502px, -48px, 10px, 20px, 513px, 482px, '../images/sprite.png', 'arr-right', );
$cat-other-hov-name: 'cat-other-hov';
$cat-other-hov-x: 371px;
$cat-other-hov-y: 335px;
$cat-other-hov-offset-x: -371px;
$cat-other-hov-offset-y: -335px;
$cat-other-hov-width: 48px;
$cat-other-hov-height: 15px;
$cat-other-hov-total-width: 513px;
$cat-other-hov-total-height: 482px;
$cat-other-hov-image: '../images/sprite.png';
$cat-other-hov: (371px, 335px, -371px, -335px, 48px, 15px, 513px, 482px, '../images/sprite.png', 'cat-other-hov', );
$cat-other-name: 'cat-other';
$cat-other-x: 371px;
$cat-other-y: 352px;
$cat-other-offset-x: -371px;
$cat-other-offset-y: -352px;
$cat-other-width: 48px;
$cat-other-height: 15px;
$cat-other-total-width: 513px;
$cat-other-total-height: 482px;
$cat-other-image: '../images/sprite.png';
$cat-other: (371px, 352px, -371px, -352px, 48px, 15px, 513px, 482px, '../images/sprite.png', 'cat-other', );
$cat1-hov-name: 'cat1-hov';
$cat1-hov-x: 62px;
$cat1-hov-y: 335px;
$cat1-hov-offset-x: -62px;
$cat1-hov-offset-y: -335px;
$cat1-hov-width: 60px;
$cat1-hov-height: 63px;
$cat1-hov-total-width: 513px;
$cat1-hov-total-height: 482px;
$cat1-hov-image: '../images/sprite.png';
$cat1-hov: (62px, 335px, -62px, -335px, 60px, 63px, 513px, 482px, '../images/sprite.png', 'cat1-hov', );
$cat1-name: 'cat1';
$cat1-x: 0px;
$cat1-y: 335px;
$cat1-offset-x: 0px;
$cat1-offset-y: -335px;
$cat1-width: 60px;
$cat1-height: 63px;
$cat1-total-width: 513px;
$cat1-total-height: 482px;
$cat1-image: '../images/sprite.png';
$cat1: (0px, 335px, 0px, -335px, 60px, 63px, 513px, 482px, '../images/sprite.png', 'cat1', );
$cat10-hov-name: 'cat10-hov';
$cat10-hov-x: 0px;
$cat10-hov-y: 80px;
$cat10-hov-offset-x: 0px;
$cat10-hov-offset-y: -80px;
$cat10-hov-width: 77px;
$cat10-hov-height: 68px;
$cat10-hov-total-width: 513px;
$cat10-hov-total-height: 482px;
$cat10-hov-image: '../images/sprite.png';
$cat10-hov: (0px, 80px, 0px, -80px, 77px, 68px, 513px, 482px, '../images/sprite.png', 'cat10-hov', );
$cat10-name: 'cat10';
$cat10-x: 79px;
$cat10-y: 80px;
$cat10-offset-x: -79px;
$cat10-offset-y: -80px;
$cat10-width: 77px;
$cat10-height: 68px;
$cat10-total-width: 513px;
$cat10-total-height: 482px;
$cat10-image: '../images/sprite.png';
$cat10: (79px, 80px, -79px, -80px, 77px, 68px, 513px, 482px, '../images/sprite.png', 'cat10', );
$cat11-hov-name: 'cat11-hov';
$cat11-hov-x: 0px;
$cat11-hov-y: 221px;
$cat11-hov-offset-x: 0px;
$cat11-hov-offset-y: -221px;
$cat11-hov-width: 77px;
$cat11-hov-height: 60px;
$cat11-hov-total-width: 513px;
$cat11-hov-total-height: 482px;
$cat11-hov-image: '../images/sprite.png';
$cat11-hov: (0px, 221px, 0px, -221px, 77px, 60px, 513px, 482px, '../images/sprite.png', 'cat11-hov', );
$cat11-name: 'cat11';
$cat11-x: 79px;
$cat11-y: 221px;
$cat11-offset-x: -79px;
$cat11-offset-y: -221px;
$cat11-width: 77px;
$cat11-height: 60px;
$cat11-total-width: 513px;
$cat11-total-height: 482px;
$cat11-image: '../images/sprite.png';
$cat11: (79px, 221px, -79px, -221px, 77px, 60px, 513px, 482px, '../images/sprite.png', 'cat11', );
$cat12-hov-name: 'cat12-hov';
$cat12-hov-x: 318px;
$cat12-hov-y: 69px;
$cat12-hov-offset-x: -318px;
$cat12-hov-offset-y: -69px;
$cat12-hov-width: 67px;
$cat12-hov-height: 67px;
$cat12-hov-total-width: 513px;
$cat12-hov-total-height: 482px;
$cat12-hov-image: '../images/sprite.png';
$cat12-hov: (318px, 69px, -318px, -69px, 67px, 67px, 513px, 482px, '../images/sprite.png', 'cat12-hov', );
$cat12-name: 'cat12';
$cat12-x: 318px;
$cat12-y: 0px;
$cat12-offset-x: -318px;
$cat12-offset-y: 0px;
$cat12-width: 67px;
$cat12-height: 67px;
$cat12-total-width: 513px;
$cat12-total-height: 482px;
$cat12-image: '../images/sprite.png';
$cat12: (318px, 0px, -318px, 0px, 67px, 67px, 513px, 482px, '../images/sprite.png', 'cat12', );
$cat13-hov-name: 'cat13-hov';
$cat13-hov-x: 259px;
$cat13-hov-y: 283px;
$cat13-hov-offset-x: -259px;
$cat13-hov-offset-y: -283px;
$cat13-hov-width: 85px;
$cat13-hov-height: 43px;
$cat13-hov-total-width: 513px;
$cat13-hov-total-height: 482px;
$cat13-hov-image: '../images/sprite.png';
$cat13-hov: (259px, 283px, -259px, -283px, 85px, 43px, 513px, 482px, '../images/sprite.png', 'cat13-hov', );
$cat13-name: 'cat13';
$cat13-x: 172px;
$cat13-y: 283px;
$cat13-offset-x: -172px;
$cat13-offset-y: -283px;
$cat13-width: 85px;
$cat13-height: 43px;
$cat13-total-width: 513px;
$cat13-total-height: 482px;
$cat13-image: '../images/sprite.png';
$cat13: (172px, 283px, -172px, -283px, 85px, 43px, 513px, 482px, '../images/sprite.png', 'cat13', );
$cat14-hov-name: 'cat14-hov';
$cat14-hov-x: 318px;
$cat14-hov-y: 138px;
$cat14-hov-offset-x: -318px;
$cat14-hov-offset-y: -138px;
$cat14-hov-width: 65px;
$cat14-hov-height: 69px;
$cat14-hov-total-width: 513px;
$cat14-hov-total-height: 482px;
$cat14-hov-image: '../images/sprite.png';
$cat14-hov: (318px, 138px, -318px, -138px, 65px, 69px, 513px, 482px, '../images/sprite.png', 'cat14-hov', );
$cat14-name: 'cat14';
$cat14-x: 318px;
$cat14-y: 209px;
$cat14-offset-x: -318px;
$cat14-offset-y: -209px;
$cat14-width: 65px;
$cat14-height: 69px;
$cat14-total-width: 513px;
$cat14-total-height: 482px;
$cat14-image: '../images/sprite.png';
$cat14: (318px, 209px, -318px, -209px, 65px, 69px, 513px, 482px, '../images/sprite.png', 'cat14', );
$cat15-hov-name: 'cat15-hov';
$cat15-hov-x: 231px;
$cat15-hov-y: 0px;
$cat15-hov-offset-x: -231px;
$cat15-hov-offset-y: 0px;
$cat15-hov-width: 85px;
$cat15-hov-height: 55px;
$cat15-hov-total-width: 513px;
$cat15-hov-total-height: 482px;
$cat15-hov-image: '../images/sprite.png';
$cat15-hov: (231px, 0px, -231px, 0px, 85px, 55px, 513px, 482px, '../images/sprite.png', 'cat15-hov', );
$cat15-name: 'cat15';
$cat15-x: 231px;
$cat15-y: 57px;
$cat15-offset-x: -231px;
$cat15-offset-y: -57px;
$cat15-width: 85px;
$cat15-height: 55px;
$cat15-total-width: 513px;
$cat15-total-height: 482px;
$cat15-image: '../images/sprite.png';
$cat15: (231px, 57px, -231px, -57px, 85px, 55px, 513px, 482px, '../images/sprite.png', 'cat15', );
$cat16-hov-name: 'cat16-hov';
$cat16-hov-x: 0px;
$cat16-hov-y: 283px;
$cat16-hov-offset-x: 0px;
$cat16-hov-offset-y: -283px;
$cat16-hov-width: 84px;
$cat16-hov-height: 50px;
$cat16-hov-total-width: 513px;
$cat16-hov-total-height: 482px;
$cat16-hov-image: '../images/sprite.png';
$cat16-hov: (0px, 283px, 0px, -283px, 84px, 50px, 513px, 482px, '../images/sprite.png', 'cat16-hov', );
$cat16-name: 'cat16';
$cat16-x: 86px;
$cat16-y: 283px;
$cat16-offset-x: -86px;
$cat16-offset-y: -283px;
$cat16-width: 84px;
$cat16-height: 50px;
$cat16-total-width: 513px;
$cat16-total-height: 482px;
$cat16-image: '../images/sprite.png';
$cat16: (86px, 283px, -86px, -283px, 84px, 50px, 513px, 482px, '../images/sprite.png', 'cat16', );
$cat2-hov-name: 'cat2-hov';
$cat2-hov-x: 75px;
$cat2-hov-y: 150px;
$cat2-hov-offset-x: -75px;
$cat2-hov-offset-y: -150px;
$cat2-hov-width: 73px;
$cat2-hov-height: 69px;
$cat2-hov-total-width: 513px;
$cat2-hov-total-height: 482px;
$cat2-hov-image: '../images/sprite.png';
$cat2-hov: (75px, 150px, -75px, -150px, 73px, 69px, 513px, 482px, '../images/sprite.png', 'cat2-hov', );
$cat2-name: 'cat2';
$cat2-x: 0px;
$cat2-y: 150px;
$cat2-offset-x: 0px;
$cat2-offset-y: -150px;
$cat2-width: 73px;
$cat2-height: 69px;
$cat2-total-width: 513px;
$cat2-total-height: 482px;
$cat2-image: '../images/sprite.png';
$cat2: (0px, 150px, 0px, -150px, 73px, 69px, 513px, 482px, '../images/sprite.png', 'cat2', );
$cat3-hov-name: 'cat3-hov';
$cat3-hov-x: 150px;
$cat3-hov-y: 150px;
$cat3-hov-offset-x: -150px;
$cat3-hov-offset-y: -150px;
$cat3-hov-width: 74px;
$cat3-hov-height: 63px;
$cat3-hov-total-width: 513px;
$cat3-hov-total-height: 482px;
$cat3-hov-image: '../images/sprite.png';
$cat3-hov: (150px, 150px, -150px, -150px, 74px, 63px, 513px, 482px, '../images/sprite.png', 'cat3-hov', );
$cat3-name: 'cat3';
$cat3-x: 231px;
$cat3-y: 114px;
$cat3-offset-x: -231px;
$cat3-offset-y: -114px;
$cat3-width: 74px;
$cat3-height: 63px;
$cat3-total-width: 513px;
$cat3-total-height: 482px;
$cat3-image: '../images/sprite.png';
$cat3: (231px, 114px, -231px, -114px, 74px, 63px, 513px, 482px, '../images/sprite.png', 'cat3', );
$cat4-hov-name: 'cat4-hov';
$cat4-hov-x: 464px;
$cat4-hov-y: 66px;
$cat4-hov-offset-x: -464px;
$cat4-hov-offset-y: -66px;
$cat4-hov-width: 36px;
$cat4-hov-height: 64px;
$cat4-hov-total-width: 513px;
$cat4-hov-total-height: 482px;
$cat4-hov-image: '../images/sprite.png';
$cat4-hov: (464px, 66px, -464px, -66px, 36px, 64px, 513px, 482px, '../images/sprite.png', 'cat4-hov', );
$cat4-name: 'cat4';
$cat4-x: 464px;
$cat4-y: 0px;
$cat4-offset-x: -464px;
$cat4-offset-y: 0px;
$cat4-width: 36px;
$cat4-height: 64px;
$cat4-total-width: 513px;
$cat4-total-height: 482px;
$cat4-image: '../images/sprite.png';
$cat4: (464px, 0px, -464px, 0px, 36px, 64px, 513px, 482px, '../images/sprite.png', 'cat4', );
$cat5-hov-name: 'cat5-hov';
$cat5-hov-x: 235px;
$cat5-hov-y: 221px;
$cat5-hov-offset-x: -235px;
$cat5-hov-offset-y: -221px;
$cat5-hov-width: 75px;
$cat5-hov-height: 57px;
$cat5-hov-total-width: 513px;
$cat5-hov-total-height: 482px;
$cat5-hov-image: '../images/sprite.png';
$cat5-hov: (235px, 221px, -235px, -221px, 75px, 57px, 513px, 482px, '../images/sprite.png', 'cat5-hov', );
$cat5-name: 'cat5';
$cat5-x: 158px;
$cat5-y: 221px;
$cat5-offset-x: -158px;
$cat5-offset-y: -221px;
$cat5-width: 75px;
$cat5-height: 57px;
$cat5-total-width: 513px;
$cat5-total-height: 482px;
$cat5-image: '../images/sprite.png';
$cat5: (158px, 221px, -158px, -221px, 75px, 57px, 513px, 482px, '../images/sprite.png', 'cat5', );
$cat6-hov-name: 'cat6-hov';
$cat6-hov-x: 387px;
$cat6-hov-y: 0px;
$cat6-hov-offset-x: -387px;
$cat6-hov-offset-y: 0px;
$cat6-hov-width: 75px;
$cat6-hov-height: 54px;
$cat6-hov-total-width: 513px;
$cat6-hov-total-height: 482px;
$cat6-hov-image: '../images/sprite.png';
$cat6-hov: (387px, 0px, -387px, 0px, 75px, 54px, 513px, 482px, '../images/sprite.png', 'cat6-hov', );
$cat6-name: 'cat6';
$cat6-x: 387px;
$cat6-y: 56px;
$cat6-offset-x: -387px;
$cat6-offset-y: -56px;
$cat6-width: 75px;
$cat6-height: 54px;
$cat6-total-width: 513px;
$cat6-total-height: 482px;
$cat6-image: '../images/sprite.png';
$cat6: (387px, 56px, -387px, -56px, 75px, 54px, 513px, 482px, '../images/sprite.png', 'cat6', );
$cat7-hov-name: 'cat7-hov';
$cat7-hov-x: 387px;
$cat7-hov-y: 112px;
$cat7-hov-offset-x: -387px;
$cat7-hov-offset-y: -112px;
$cat7-hov-width: 51px;
$cat7-hov-height: 79px;
$cat7-hov-total-width: 513px;
$cat7-hov-total-height: 482px;
$cat7-hov-image: '../images/sprite.png';
$cat7-hov: (387px, 112px, -387px, -112px, 51px, 79px, 513px, 482px, '../images/sprite.png', 'cat7-hov', );
$cat7-name: 'cat7';
$cat7-x: 387px;
$cat7-y: 193px;
$cat7-offset-x: -387px;
$cat7-offset-y: -193px;
$cat7-width: 51px;
$cat7-height: 79px;
$cat7-total-width: 513px;
$cat7-total-height: 482px;
$cat7-image: '../images/sprite.png';
$cat7: (387px, 193px, -387px, -193px, 51px, 79px, 513px, 482px, '../images/sprite.png', 'cat7', );
$cat8-hov-name: 'cat8-hov';
$cat8-hov-x: 128px;
$cat8-hov-y: 400px;
$cat8-hov-offset-x: -128px;
$cat8-hov-offset-y: -400px;
$cat8-hov-width: 107px;
$cat8-hov-height: 33px;
$cat8-hov-total-width: 513px;
$cat8-hov-total-height: 482px;
$cat8-hov-image: '../images/sprite.png';
$cat8-hov: (128px, 400px, -128px, -400px, 107px, 33px, 513px, 482px, '../images/sprite.png', 'cat8-hov', );
$cat8-name: 'cat8';
$cat8-x: 262px;
$cat8-y: 335px;
$cat8-offset-x: -262px;
$cat8-offset-y: -335px;
$cat8-width: 107px;
$cat8-height: 33px;
$cat8-total-width: 513px;
$cat8-total-height: 482px;
$cat8-image: '../images/sprite.png';
$cat8: (262px, 335px, -262px, -335px, 107px, 33px, 513px, 482px, '../images/sprite.png', 'cat8', );
$cat9-hov-name: 'cat9-hov';
$cat9-hov-x: 158px;
$cat9-hov-y: 0px;
$cat9-hov-offset-x: -158px;
$cat9-hov-offset-y: 0px;
$cat9-hov-width: 71px;
$cat9-hov-height: 72px;
$cat9-hov-total-width: 513px;
$cat9-hov-total-height: 482px;
$cat9-hov-image: '../images/sprite.png';
$cat9-hov: (158px, 0px, -158px, 0px, 71px, 72px, 513px, 482px, '../images/sprite.png', 'cat9-hov', );
$cat9-name: 'cat9';
$cat9-x: 158px;
$cat9-y: 74px;
$cat9-offset-x: -158px;
$cat9-offset-y: -74px;
$cat9-width: 71px;
$cat9-height: 72px;
$cat9-total-width: 513px;
$cat9-total-height: 482px;
$cat9-image: '../images/sprite.png';
$cat9: (158px, 74px, -158px, -74px, 71px, 72px, 513px, 482px, '../images/sprite.png', 'cat9', );
$ic-add-mage-name: 'ic-add-mage';
$ic-add-mage-x: 346px;
$ic-add-mage-y: 283px;
$ic-add-mage-offset-x: -346px;
$ic-add-mage-offset-y: -283px;
$ic-add-mage-width: 39px;
$ic-add-mage-height: 39px;
$ic-add-mage-total-width: 513px;
$ic-add-mage-total-height: 482px;
$ic-add-mage-image: '../images/sprite.png';
$ic-add-mage: (346px, 283px, -346px, -283px, 39px, 39px, 513px, 482px, '../images/sprite.png', 'ic-add-mage', );
$ic-cat-agricultural-act-name: 'ic-cat-agricultural-act';
$ic-cat-agricultural-act-x: 237px;
$ic-cat-agricultural-act-y: 400px;
$ic-cat-agricultural-act-offset-x: -237px;
$ic-cat-agricultural-act-offset-y: -400px;
$ic-cat-agricultural-act-width: 24px;
$ic-cat-agricultural-act-height: 20px;
$ic-cat-agricultural-act-total-width: 513px;
$ic-cat-agricultural-act-total-height: 482px;
$ic-cat-agricultural-act-image: '../images/sprite.png';
$ic-cat-agricultural-act: (237px, 400px, -237px, -400px, 24px, 20px, 513px, 482px, '../images/sprite.png', 'ic-cat-agricultural-act', );
$ic-cat-agricultural-name: 'ic-cat-agricultural';
$ic-cat-agricultural-x: 263px;
$ic-cat-agricultural-y: 400px;
$ic-cat-agricultural-offset-x: -263px;
$ic-cat-agricultural-offset-y: -400px;
$ic-cat-agricultural-width: 24px;
$ic-cat-agricultural-height: 20px;
$ic-cat-agricultural-total-width: 513px;
$ic-cat-agricultural-total-height: 482px;
$ic-cat-agricultural-image: '../images/sprite.png';
$ic-cat-agricultural: (263px, 400px, -263px, -400px, 24px, 20px, 513px, 482px, '../images/sprite.png', 'ic-cat-agricultural', );
$ic-cat-attachments-act-name: 'ic-cat-attachments-act';
$ic-cat-attachments-act-x: 502px;
$ic-cat-attachments-act-y: 0px;
$ic-cat-attachments-act-offset-x: -502px;
$ic-cat-attachments-act-offset-y: 0px;
$ic-cat-attachments-act-width: 11px;
$ic-cat-attachments-act-height: 24px;
$ic-cat-attachments-act-total-width: 513px;
$ic-cat-attachments-act-total-height: 482px;
$ic-cat-attachments-act-image: '../images/sprite.png';
$ic-cat-attachments-act: (502px, 0px, -502px, 0px, 11px, 24px, 513px, 482px, '../images/sprite.png', 'ic-cat-attachments-act', );
$ic-cat-attachments-name: 'ic-cat-attachments';
$ic-cat-attachments-x: 304px;
$ic-cat-attachments-y: 179px;
$ic-cat-attachments-offset-x: -304px;
$ic-cat-attachments-offset-y: -179px;
$ic-cat-attachments-width: 11px;
$ic-cat-attachments-height: 24px;
$ic-cat-attachments-total-width: 513px;
$ic-cat-attachments-total-height: 482px;
$ic-cat-attachments-image: '../images/sprite.png';
$ic-cat-attachments: (304px, 179px, -304px, -179px, 11px, 24px, 513px, 482px, '../images/sprite.png', 'ic-cat-attachments', );
$ic-cat-containers-act-name: 'ic-cat-containers-act';
$ic-cat-containers-act-x: 464px;
$ic-cat-containers-act-y: 444px;
$ic-cat-containers-act-offset-x: -464px;
$ic-cat-containers-act-offset-y: -444px;
$ic-cat-containers-act-width: 24px;
$ic-cat-containers-act-height: 15px;
$ic-cat-containers-act-total-width: 513px;
$ic-cat-containers-act-total-height: 482px;
$ic-cat-containers-act-image: '../images/sprite.png';
$ic-cat-containers-act: (464px, 444px, -464px, -444px, 24px, 15px, 513px, 482px, '../images/sprite.png', 'ic-cat-containers-act', );
$ic-cat-containers-name: 'ic-cat-containers';
$ic-cat-containers-x: 421px;
$ic-cat-containers-y: 335px;
$ic-cat-containers-offset-x: -421px;
$ic-cat-containers-offset-y: -335px;
$ic-cat-containers-width: 24px;
$ic-cat-containers-height: 15px;
$ic-cat-containers-total-width: 513px;
$ic-cat-containers-total-height: 482px;
$ic-cat-containers-image: '../images/sprite.png';
$ic-cat-containers: (421px, 335px, -421px, -335px, 24px, 15px, 513px, 482px, '../images/sprite.png', 'ic-cat-containers', );
$ic-cat-cranes-act-name: 'ic-cat-cranes-act';
$ic-cat-cranes-act-x: 440px;
$ic-cat-cranes-act-y: 193px;
$ic-cat-cranes-act-offset-x: -440px;
$ic-cat-cranes-act-offset-y: -193px;
$ic-cat-cranes-act-width: 21px;
$ic-cat-cranes-act-height: 21px;
$ic-cat-cranes-act-total-width: 513px;
$ic-cat-cranes-act-total-height: 482px;
$ic-cat-cranes-act-image: '../images/sprite.png';
$ic-cat-cranes-act: (440px, 193px, -440px, -193px, 21px, 21px, 513px, 482px, '../images/sprite.png', 'ic-cat-cranes-act', );
$ic-cat-cranes-name: 'ic-cat-cranes';
$ic-cat-cranes-x: 440px;
$ic-cat-cranes-y: 160px;
$ic-cat-cranes-offset-x: -440px;
$ic-cat-cranes-offset-y: -160px;
$ic-cat-cranes-width: 21px;
$ic-cat-cranes-height: 21px;
$ic-cat-cranes-total-width: 513px;
$ic-cat-cranes-total-height: 482px;
$ic-cat-cranes-image: '../images/sprite.png';
$ic-cat-cranes: (440px, 160px, -440px, -160px, 21px, 21px, 513px, 482px, '../images/sprite.png', 'ic-cat-cranes', );
$ic-cat-engines-act-name: 'ic-cat-engines-act';
$ic-cat-engines-act-x: 365px;
$ic-cat-engines-act-y: 400px;
$ic-cat-engines-act-offset-x: -365px;
$ic-cat-engines-act-offset-y: -400px;
$ic-cat-engines-act-width: 23px;
$ic-cat-engines-act-height: 17px;
$ic-cat-engines-act-total-width: 513px;
$ic-cat-engines-act-total-height: 482px;
$ic-cat-engines-act-image: '../images/sprite.png';
$ic-cat-engines-act: (365px, 400px, -365px, -400px, 23px, 17px, 513px, 482px, '../images/sprite.png', 'ic-cat-engines-act', );
$ic-cat-engines-name: 'ic-cat-engines';
$ic-cat-engines-x: 390px;
$ic-cat-engines-y: 400px;
$ic-cat-engines-offset-x: -390px;
$ic-cat-engines-offset-y: -400px;
$ic-cat-engines-width: 23px;
$ic-cat-engines-height: 17px;
$ic-cat-engines-total-width: 513px;
$ic-cat-engines-total-height: 482px;
$ic-cat-engines-image: '../images/sprite.png';
$ic-cat-engines: (390px, 400px, -390px, -400px, 23px, 17px, 513px, 482px, '../images/sprite.png', 'ic-cat-engines', );
$ic-cat-equipment-act-name: 'ic-cat-equipment-act';
$ic-cat-equipment-act-x: 289px;
$ic-cat-equipment-act-y: 400px;
$ic-cat-equipment-act-offset-x: -289px;
$ic-cat-equipment-act-offset-y: -400px;
$ic-cat-equipment-act-width: 23px;
$ic-cat-equipment-act-height: 19px;
$ic-cat-equipment-act-total-width: 513px;
$ic-cat-equipment-act-total-height: 482px;
$ic-cat-equipment-act-image: '../images/sprite.png';
$ic-cat-equipment-act: (289px, 400px, -289px, -400px, 23px, 19px, 513px, 482px, '../images/sprite.png', 'ic-cat-equipment-act', );
$ic-cat-equipment-name: 'ic-cat-equipment';
$ic-cat-equipment-x: 314px;
$ic-cat-equipment-y: 400px;
$ic-cat-equipment-offset-x: -314px;
$ic-cat-equipment-offset-y: -400px;
$ic-cat-equipment-width: 23px;
$ic-cat-equipment-height: 19px;
$ic-cat-equipment-total-width: 513px;
$ic-cat-equipment-total-height: 482px;
$ic-cat-equipment-image: '../images/sprite.png';
$ic-cat-equipment: (314px, 400px, -314px, -400px, 23px, 19px, 513px, 482px, '../images/sprite.png', 'ic-cat-equipment', );
$ic-cat-forestry-act-name: 'ic-cat-forestry-act';
$ic-cat-forestry-act-x: 464px;
$ic-cat-forestry-act-y: 304px;
$ic-cat-forestry-act-offset-x: -464px;
$ic-cat-forestry-act-offset-y: -304px;
$ic-cat-forestry-act-width: 27px;
$ic-cat-forestry-act-height: 21px;
$ic-cat-forestry-act-total-width: 513px;
$ic-cat-forestry-act-total-height: 482px;
$ic-cat-forestry-act-image: '../images/sprite.png';
$ic-cat-forestry-act: (464px, 304px, -464px, -304px, 27px, 21px, 513px, 482px, '../images/sprite.png', 'ic-cat-forestry-act', );
$ic-cat-forestry-name: 'ic-cat-forestry';
$ic-cat-forestry-x: 464px;
$ic-cat-forestry-y: 327px;
$ic-cat-forestry-offset-x: -464px;
$ic-cat-forestry-offset-y: -327px;
$ic-cat-forestry-width: 27px;
$ic-cat-forestry-height: 21px;
$ic-cat-forestry-total-width: 513px;
$ic-cat-forestry-total-height: 482px;
$ic-cat-forestry-image: '../images/sprite.png';
$ic-cat-forestry: (464px, 327px, -464px, -327px, 27px, 21px, 513px, 482px, '../images/sprite.png', 'ic-cat-forestry', );
$ic-cat-forklifts-act-name: 'ic-cat-forklifts-act';
$ic-cat-forklifts-act-x: 464px;
$ic-cat-forklifts-act-y: 400px;
$ic-cat-forklifts-act-offset-x: -464px;
$ic-cat-forklifts-act-offset-y: -400px;
$ic-cat-forklifts-act-width: 26px;
$ic-cat-forklifts-act-height: 20px;
$ic-cat-forklifts-act-total-width: 513px;
$ic-cat-forklifts-act-total-height: 482px;
$ic-cat-forklifts-act-image: '../images/sprite.png';
$ic-cat-forklifts-act: (464px, 400px, -464px, -400px, 26px, 20px, 513px, 482px, '../images/sprite.png', 'ic-cat-forklifts-act', );
$ic-cat-forklifts-name: 'ic-cat-forklifts';
$ic-cat-forklifts-x: 464px;
$ic-cat-forklifts-y: 422px;
$ic-cat-forklifts-offset-x: -464px;
$ic-cat-forklifts-offset-y: -422px;
$ic-cat-forklifts-width: 26px;
$ic-cat-forklifts-height: 20px;
$ic-cat-forklifts-total-width: 513px;
$ic-cat-forklifts-total-height: 482px;
$ic-cat-forklifts-image: '../images/sprite.png';
$ic-cat-forklifts: (464px, 422px, -464px, -422px, 26px, 20px, 513px, 482px, '../images/sprite.png', 'ic-cat-forklifts', );
$ic-cat-industrial-act-name: 'ic-cat-industrial-act';
$ic-cat-industrial-act-x: 17px;
$ic-cat-industrial-act-y: 461px;
$ic-cat-industrial-act-offset-x: -17px;
$ic-cat-industrial-act-offset-y: -461px;
$ic-cat-industrial-act-width: 15px;
$ic-cat-industrial-act-height: 21px;
$ic-cat-industrial-act-total-width: 513px;
$ic-cat-industrial-act-total-height: 482px;
$ic-cat-industrial-act-image: '../images/sprite.png';
$ic-cat-industrial-act: (17px, 461px, -17px, -461px, 15px, 21px, 513px, 482px, '../images/sprite.png', 'ic-cat-industrial-act', );
$ic-cat-industrial-name: 'ic-cat-industrial';
$ic-cat-industrial-x: 0px;
$ic-cat-industrial-y: 461px;
$ic-cat-industrial-offset-x: 0px;
$ic-cat-industrial-offset-y: -461px;
$ic-cat-industrial-width: 15px;
$ic-cat-industrial-height: 21px;
$ic-cat-industrial-total-width: 513px;
$ic-cat-industrial-total-height: 482px;
$ic-cat-industrial-image: '../images/sprite.png';
$ic-cat-industrial: (0px, 461px, 0px, -461px, 15px, 21px, 513px, 482px, '../images/sprite.png', 'ic-cat-industrial', );
$ic-cat-machinery-act-name: 'ic-cat-machinery-act';
$ic-cat-machinery-act-x: 291px;
$ic-cat-machinery-act-y: 370px;
$ic-cat-machinery-act-offset-x: -291px;
$ic-cat-machinery-act-offset-y: -370px;
$ic-cat-machinery-act-width: 27px;
$ic-cat-machinery-act-height: 19px;
$ic-cat-machinery-act-total-width: 513px;
$ic-cat-machinery-act-total-height: 482px;
$ic-cat-machinery-act-image: '../images/sprite.png';
$ic-cat-machinery-act: (291px, 370px, -291px, -370px, 27px, 19px, 513px, 482px, '../images/sprite.png', 'ic-cat-machinery-act', );
$ic-cat-machinery-name: 'ic-cat-machinery';
$ic-cat-machinery-x: 262px;
$ic-cat-machinery-y: 370px;
$ic-cat-machinery-offset-x: -262px;
$ic-cat-machinery-offset-y: -370px;
$ic-cat-machinery-width: 27px;
$ic-cat-machinery-height: 19px;
$ic-cat-machinery-total-width: 513px;
$ic-cat-machinery-total-height: 482px;
$ic-cat-machinery-image: '../images/sprite.png';
$ic-cat-machinery: (262px, 370px, -262px, -370px, 27px, 19px, 513px, 482px, '../images/sprite.png', 'ic-cat-machinery', );
$ic-cat-municipal-act-name: 'ic-cat-municipal-act';
$ic-cat-municipal-act-x: 407px;
$ic-cat-municipal-act-y: 370px;
$ic-cat-municipal-act-offset-x: -407px;
$ic-cat-municipal-act-offset-y: -370px;
$ic-cat-municipal-act-width: 29px;
$ic-cat-municipal-act-height: 16px;
$ic-cat-municipal-act-total-width: 513px;
$ic-cat-municipal-act-total-height: 482px;
$ic-cat-municipal-act-image: '../images/sprite.png';
$ic-cat-municipal-act: (407px, 370px, -407px, -370px, 29px, 16px, 513px, 482px, '../images/sprite.png', 'ic-cat-municipal-act', );
$ic-cat-municipal-name: 'ic-cat-municipal';
$ic-cat-municipal-x: 376px;
$ic-cat-municipal-y: 370px;
$ic-cat-municipal-offset-x: -376px;
$ic-cat-municipal-offset-y: -370px;
$ic-cat-municipal-width: 29px;
$ic-cat-municipal-height: 16px;
$ic-cat-municipal-total-width: 513px;
$ic-cat-municipal-total-height: 482px;
$ic-cat-municipal-image: '../images/sprite.png';
$ic-cat-municipal: (376px, 370px, -376px, -370px, 29px, 16px, 513px, 482px, '../images/sprite.png', 'ic-cat-municipal', );
$ic-cat-others-act-name: 'ic-cat-others-act';
$ic-cat-others-act-x: 440px;
$ic-cat-others-act-y: 183px;
$ic-cat-others-act-offset-x: -440px;
$ic-cat-others-act-offset-y: -183px;
$ic-cat-others-act-width: 21px;
$ic-cat-others-act-height: 5px;
$ic-cat-others-act-total-width: 513px;
$ic-cat-others-act-total-height: 482px;
$ic-cat-others-act-image: '../images/sprite.png';
$ic-cat-others-act: (440px, 183px, -440px, -183px, 21px, 5px, 513px, 482px, '../images/sprite.png', 'ic-cat-others-act', );
$ic-cat-others-name: 'ic-cat-others';
$ic-cat-others-x: 440px;
$ic-cat-others-y: 263px;
$ic-cat-others-offset-x: -440px;
$ic-cat-others-offset-y: -263px;
$ic-cat-others-width: 21px;
$ic-cat-others-height: 5px;
$ic-cat-others-total-width: 513px;
$ic-cat-others-total-height: 482px;
$ic-cat-others-image: '../images/sprite.png';
$ic-cat-others: (440px, 263px, -440px, -263px, 21px, 5px, 513px, 482px, '../images/sprite.png', 'ic-cat-others', );
$ic-cat-recyclings-act-name: 'ic-cat-recyclings-act';
$ic-cat-recyclings-act-x: 320px;
$ic-cat-recyclings-act-y: 370px;
$ic-cat-recyclings-act-offset-x: -320px;
$ic-cat-recyclings-act-offset-y: -370px;
$ic-cat-recyclings-act-width: 26px;
$ic-cat-recyclings-act-height: 18px;
$ic-cat-recyclings-act-total-width: 513px;
$ic-cat-recyclings-act-total-height: 482px;
$ic-cat-recyclings-act-image: '../images/sprite.png';
$ic-cat-recyclings-act: (320px, 370px, -320px, -370px, 26px, 18px, 513px, 482px, '../images/sprite.png', 'ic-cat-recyclings-act', );
$ic-cat-recyclings-name: 'ic-cat-recyclings';
$ic-cat-recyclings-x: 348px;
$ic-cat-recyclings-y: 370px;
$ic-cat-recyclings-offset-x: -348px;
$ic-cat-recyclings-offset-y: -370px;
$ic-cat-recyclings-width: 26px;
$ic-cat-recyclings-height: 18px;
$ic-cat-recyclings-total-width: 513px;
$ic-cat-recyclings-total-height: 482px;
$ic-cat-recyclings-image: '../images/sprite.png';
$ic-cat-recyclings: (348px, 370px, -348px, -370px, 26px, 18px, 513px, 482px, '../images/sprite.png', 'ic-cat-recyclings', );
$ic-cat-spare-act-name: 'ic-cat-spare-act';
$ic-cat-spare-act-x: 440px;
$ic-cat-spare-act-y: 112px;
$ic-cat-spare-act-offset-x: -440px;
$ic-cat-spare-act-offset-y: -112px;
$ic-cat-spare-act-width: 22px;
$ic-cat-spare-act-height: 22px;
$ic-cat-spare-act-total-width: 513px;
$ic-cat-spare-act-total-height: 482px;
$ic-cat-spare-act-image: '../images/sprite.png';
$ic-cat-spare-act: (440px, 112px, -440px, -112px, 22px, 22px, 513px, 482px, '../images/sprite.png', 'ic-cat-spare-act', );
$ic-cat-spare-name: 'ic-cat-spare';
$ic-cat-spare-x: 440px;
$ic-cat-spare-y: 136px;
$ic-cat-spare-offset-x: -440px;
$ic-cat-spare-offset-y: -136px;
$ic-cat-spare-width: 22px;
$ic-cat-spare-height: 22px;
$ic-cat-spare-total-width: 513px;
$ic-cat-spare-total-height: 482px;
$ic-cat-spare-image: '../images/sprite.png';
$ic-cat-spare: (440px, 136px, -440px, -136px, 22px, 22px, 513px, 482px, '../images/sprite.png', 'ic-cat-spare', );
$ic-cat-trailers-act-name: 'ic-cat-trailers-act';
$ic-cat-trailers-act-x: 415px;
$ic-cat-trailers-act-y: 400px;
$ic-cat-trailers-act-offset-x: -415px;
$ic-cat-trailers-act-offset-y: -400px;
$ic-cat-trailers-act-width: 28px;
$ic-cat-trailers-act-height: 12px;
$ic-cat-trailers-act-total-width: 513px;
$ic-cat-trailers-act-total-height: 482px;
$ic-cat-trailers-act-image: '../images/sprite.png';
$ic-cat-trailers-act: (415px, 400px, -415px, -400px, 28px, 12px, 513px, 482px, '../images/sprite.png', 'ic-cat-trailers-act', );
$ic-cat-trailers-name: 'ic-cat-trailers';
$ic-cat-trailers-x: 421px;
$ic-cat-trailers-y: 352px;
$ic-cat-trailers-offset-x: -421px;
$ic-cat-trailers-offset-y: -352px;
$ic-cat-trailers-width: 28px;
$ic-cat-trailers-height: 12px;
$ic-cat-trailers-total-width: 513px;
$ic-cat-trailers-total-height: 482px;
$ic-cat-trailers-image: '../images/sprite.png';
$ic-cat-trailers: (421px, 352px, -421px, -352px, 28px, 12px, 513px, 482px, '../images/sprite.png', 'ic-cat-trailers', );
$ic-cat-utility-act-name: 'ic-cat-utility-act';
$ic-cat-utility-act-x: 464px;
$ic-cat-utility-act-y: 162px;
$ic-cat-utility-act-offset-x: -464px;
$ic-cat-utility-act-offset-y: -162px;
$ic-cat-utility-act-width: 29px;
$ic-cat-utility-act-height: 20px;
$ic-cat-utility-act-total-width: 513px;
$ic-cat-utility-act-total-height: 482px;
$ic-cat-utility-act-image: '../images/sprite.png';
$ic-cat-utility-act: (464px, 162px, -464px, -162px, 29px, 20px, 513px, 482px, '../images/sprite.png', 'ic-cat-utility-act', );
$ic-cat-utility-name: 'ic-cat-utility';
$ic-cat-utility-x: 464px;
$ic-cat-utility-y: 184px;
$ic-cat-utility-offset-x: -464px;
$ic-cat-utility-offset-y: -184px;
$ic-cat-utility-width: 29px;
$ic-cat-utility-height: 20px;
$ic-cat-utility-total-width: 513px;
$ic-cat-utility-total-height: 482px;
$ic-cat-utility-image: '../images/sprite.png';
$ic-cat-utility: (464px, 184px, -464px, -184px, 29px, 20px, 513px, 482px, '../images/sprite.png', 'ic-cat-utility', );
$ic-cat-work-act-name: 'ic-cat-work-act';
$ic-cat-work-act-x: 438px;
$ic-cat-work-act-y: 370px;
$ic-cat-work-act-offset-x: -438px;
$ic-cat-work-act-offset-y: -370px;
$ic-cat-work-act-width: 22px;
$ic-cat-work-act-height: 15px;
$ic-cat-work-act-total-width: 513px;
$ic-cat-work-act-total-height: 482px;
$ic-cat-work-act-image: '../images/sprite.png';
$ic-cat-work-act: (438px, 370px, -438px, -370px, 22px, 15px, 513px, 482px, '../images/sprite.png', 'ic-cat-work-act', );
$ic-cat-work-name: 'ic-cat-work';
$ic-cat-work-x: 128px;
$ic-cat-work-y: 435px;
$ic-cat-work-offset-x: -128px;
$ic-cat-work-offset-y: -435px;
$ic-cat-work-width: 22px;
$ic-cat-work-height: 15px;
$ic-cat-work-total-width: 513px;
$ic-cat-work-total-height: 482px;
$ic-cat-work-image: '../images/sprite.png';
$ic-cat-work: (128px, 435px, -128px, -435px, 22px, 15px, 513px, 482px, '../images/sprite.png', 'ic-cat-work', );
$ic-close-name: 'ic-close';
$ic-close-x: 53px;
$ic-close-y: 461px;
$ic-close-offset-x: -53px;
$ic-close-offset-y: -461px;
$ic-close-width: 16px;
$ic-close-height: 16px;
$ic-close-total-width: 513px;
$ic-close-total-height: 482px;
$ic-close-image: '../images/sprite.png';
$ic-close: (53px, 461px, -53px, -461px, 16px, 16px, 513px, 482px, '../images/sprite.png', 'ic-close', );
$ic-earth-name: 'ic-earth';
$ic-earth-x: 34px;
$ic-earth-y: 461px;
$ic-earth-offset-x: -34px;
$ic-earth-offset-y: -461px;
$ic-earth-width: 17px;
$ic-earth-height: 17px;
$ic-earth-total-width: 513px;
$ic-earth-total-height: 482px;
$ic-earth-image: '../images/sprite.png';
$ic-earth: (34px, 461px, -34px, -461px, 17px, 17px, 513px, 482px, '../images/sprite.png', 'ic-earth', );
$ic-fb-name: 'ic-fb';
$ic-fb-x: 464px;
$ic-fb-y: 226px;
$ic-fb-offset-x: -464px;
$ic-fb-offset-y: -226px;
$ic-fb-width: 24px;
$ic-fb-height: 24px;
$ic-fb-total-width: 513px;
$ic-fb-total-height: 482px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (464px, 226px, -464px, -226px, 24px, 24px, 513px, 482px, '../images/sprite.png', 'ic-fb', );
$ic-in-name: 'ic-in';
$ic-in-x: 464px;
$ic-in-y: 375px;
$ic-in-offset-x: -464px;
$ic-in-offset-y: -375px;
$ic-in-width: 23px;
$ic-in-height: 23px;
$ic-in-total-width: 513px;
$ic-in-total-height: 482px;
$ic-in-image: '../images/sprite.png';
$ic-in: (464px, 375px, -464px, -375px, 23px, 23px, 513px, 482px, '../images/sprite.png', 'ic-in', );
$ic-skype-name: 'ic-skype';
$ic-skype-x: 464px;
$ic-skype-y: 350px;
$ic-skype-offset-x: -464px;
$ic-skype-offset-y: -350px;
$ic-skype-width: 23px;
$ic-skype-height: 23px;
$ic-skype-total-width: 513px;
$ic-skype-total-height: 482px;
$ic-skype-image: '../images/sprite.png';
$ic-skype: (464px, 350px, -464px, -350px, 23px, 23px, 513px, 482px, '../images/sprite.png', 'ic-skype', );
$ic-tw-name: 'ic-tw';
$ic-tw-x: 464px;
$ic-tw-y: 278px;
$ic-tw-offset-x: -464px;
$ic-tw-offset-y: -278px;
$ic-tw-width: 24px;
$ic-tw-height: 24px;
$ic-tw-total-width: 513px;
$ic-tw-total-height: 482px;
$ic-tw-image: '../images/sprite.png';
$ic-tw: (464px, 278px, -464px, -278px, 24px, 24px, 513px, 482px, '../images/sprite.png', 'ic-tw', );
$icon-add-favorite-1-name: 'icon-add-favorite-1';
$icon-add-favorite-1-x: 0px;
$icon-add-favorite-1-y: 400px;
$icon-add-favorite-1-offset-x: 0px;
$icon-add-favorite-1-offset-y: -400px;
$icon-add-favorite-1-width: 62px;
$icon-add-favorite-1-height: 59px;
$icon-add-favorite-1-total-width: 513px;
$icon-add-favorite-1-total-height: 482px;
$icon-add-favorite-1-image: '../images/sprite.png';
$icon-add-favorite-1: (0px, 400px, 0px, -400px, 62px, 59px, 513px, 482px, '../images/sprite.png', 'icon-add-favorite-1', );
$icon-add-favorite-name: 'icon-add-favorite';
$icon-add-favorite-x: 64px;
$icon-add-favorite-y: 400px;
$icon-add-favorite-offset-x: -64px;
$icon-add-favorite-offset-y: -400px;
$icon-add-favorite-width: 62px;
$icon-add-favorite-height: 59px;
$icon-add-favorite-total-width: 513px;
$icon-add-favorite-total-height: 482px;
$icon-add-favorite-image: '../images/sprite.png';
$icon-add-favorite: (64px, 400px, -64px, -400px, 62px, 59px, 513px, 482px, '../images/sprite.png', 'icon-add-favorite', );
$icon-archive-name: 'icon-archive';
$icon-archive-x: 0px;
$icon-archive-y: 0px;
$icon-archive-offset-x: 0px;
$icon-archive-offset-y: 0px;
$icon-archive-width: 78px;
$icon-archive-height: 78px;
$icon-archive-total-width: 513px;
$icon-archive-total-height: 482px;
$icon-archive-image: '../images/sprite.png';
$icon-archive: (0px, 0px, 0px, 0px, 78px, 78px, 513px, 482px, '../images/sprite.png', 'icon-archive', );
$icon-arrow-right-name: 'icon-arrow-right';
$icon-arrow-right-x: 440px;
$icon-arrow-right-y: 237px;
$icon-arrow-right-offset-x: -440px;
$icon-arrow-right-offset-y: -237px;
$icon-arrow-right-width: 15px;
$icon-arrow-right-height: 24px;
$icon-arrow-right-total-width: 513px;
$icon-arrow-right-total-height: 482px;
$icon-arrow-right-image: '../images/sprite.png';
$icon-arrow-right: (440px, 237px, -440px, -237px, 15px, 24px, 513px, 482px, '../images/sprite.png', 'icon-arrow-right', );
$icon-dialog-name: 'icon-dialog';
$icon-dialog-x: 464px;
$icon-dialog-y: 132px;
$icon-dialog-offset-x: -464px;
$icon-dialog-offset-y: -132px;
$icon-dialog-width: 28px;
$icon-dialog-height: 28px;
$icon-dialog-total-width: 513px;
$icon-dialog-total-height: 482px;
$icon-dialog-image: '../images/sprite.png';
$icon-dialog: (464px, 132px, -464px, -132px, 28px, 28px, 513px, 482px, '../images/sprite.png', 'icon-dialog', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 464px;
$icon-fb-y: 252px;
$icon-fb-offset-x: -464px;
$icon-fb-offset-y: -252px;
$icon-fb-width: 24px;
$icon-fb-height: 24px;
$icon-fb-total-width: 513px;
$icon-fb-total-height: 482px;
$icon-fb-image: '../images/sprite.png';
$icon-fb: (464px, 252px, -464px, -252px, 24px, 24px, 513px, 482px, '../images/sprite.png', 'icon-fb', );
$icon-grid-act-name: 'icon-grid-act';
$icon-grid-act-x: 188px;
$icon-grid-act-y: 435px;
$icon-grid-act-offset-x: -188px;
$icon-grid-act-offset-y: -435px;
$icon-grid-act-width: 14px;
$icon-grid-act-height: 14px;
$icon-grid-act-total-width: 513px;
$icon-grid-act-total-height: 482px;
$icon-grid-act-image: '../images/sprite.png';
$icon-grid-act: (188px, 435px, -188px, -435px, 14px, 14px, 513px, 482px, '../images/sprite.png', 'icon-grid-act', );
$icon-grid-name: 'icon-grid';
$icon-grid-x: 447px;
$icon-grid-y: 335px;
$icon-grid-offset-x: -447px;
$icon-grid-offset-y: -335px;
$icon-grid-width: 14px;
$icon-grid-height: 14px;
$icon-grid-total-width: 513px;
$icon-grid-total-height: 482px;
$icon-grid-image: '../images/sprite.png';
$icon-grid: (447px, 335px, -447px, -335px, 14px, 14px, 513px, 482px, '../images/sprite.png', 'icon-grid', );
$icon-list-act-name: 'icon-list-act';
$icon-list-act-x: 152px;
$icon-list-act-y: 435px;
$icon-list-act-offset-x: -152px;
$icon-list-act-offset-y: -435px;
$icon-list-act-width: 16px;
$icon-list-act-height: 14px;
$icon-list-act-total-width: 513px;
$icon-list-act-total-height: 482px;
$icon-list-act-image: '../images/sprite.png';
$icon-list-act: (152px, 435px, -152px, -435px, 16px, 14px, 513px, 482px, '../images/sprite.png', 'icon-list-act', );
$icon-list-name: 'icon-list';
$icon-list-x: 170px;
$icon-list-y: 435px;
$icon-list-offset-x: -170px;
$icon-list-offset-y: -435px;
$icon-list-width: 16px;
$icon-list-height: 14px;
$icon-list-total-width: 513px;
$icon-list-total-height: 482px;
$icon-list-image: '../images/sprite.png';
$icon-list: (170px, 435px, -170px, -435px, 16px, 14px, 513px, 482px, '../images/sprite.png', 'icon-list', );
$icon-off-name: 'icon-off';
$icon-off-x: 231px;
$icon-off-y: 179px;
$icon-off-offset-x: -231px;
$icon-off-offset-y: -179px;
$icon-off-width: 71px;
$icon-off-height: 31px;
$icon-off-total-width: 513px;
$icon-off-total-height: 482px;
$icon-off-image: '../images/sprite.png';
$icon-off: (231px, 179px, -231px, -179px, 71px, 31px, 513px, 482px, '../images/sprite.png', 'icon-off', );
$icon-pay-status-ok-name: 'icon-pay-status-ok';
$icon-pay-status-ok-x: 80px;
$icon-pay-status-ok-y: 0px;
$icon-pay-status-ok-offset-x: -80px;
$icon-pay-status-ok-offset-y: 0px;
$icon-pay-status-ok-width: 76px;
$icon-pay-status-ok-height: 76px;
$icon-pay-status-ok-total-width: 513px;
$icon-pay-status-ok-total-height: 482px;
$icon-pay-status-ok-image: '../images/sprite.png';
$icon-pay-status-ok: (80px, 0px, -80px, 0px, 76px, 76px, 513px, 482px, '../images/sprite.png', 'icon-pay-status-ok', );
$icon-status-warning-name: 'icon-status-warning';
$icon-status-warning-x: 193px;
$icon-status-warning-y: 335px;
$icon-status-warning-offset-x: -193px;
$icon-status-warning-offset-y: -335px;
$icon-status-warning-width: 67px;
$icon-status-warning-height: 55px;
$icon-status-warning-total-width: 513px;
$icon-status-warning-total-height: 482px;
$icon-status-warning-image: '../images/sprite.png';
$icon-status-warning: (193px, 335px, -193px, -335px, 67px, 55px, 513px, 482px, '../images/sprite.png', 'icon-status-warning', );
$icon-status-yellow-name: 'icon-status-yellow';
$icon-status-yellow-x: 387px;
$icon-status-yellow-y: 274px;
$icon-status-yellow-offset-x: -387px;
$icon-status-yellow-offset-y: -274px;
$icon-status-yellow-width: 67px;
$icon-status-yellow-height: 55px;
$icon-status-yellow-total-width: 513px;
$icon-status-yellow-total-height: 482px;
$icon-status-yellow-image: '../images/sprite.png';
$icon-status-yellow: (387px, 274px, -387px, -274px, 67px, 55px, 513px, 482px, '../images/sprite.png', 'icon-status-yellow', );
$icon-success-name: 'icon-success';
$icon-success-x: 124px;
$icon-success-y: 335px;
$icon-success-offset-x: -124px;
$icon-success-offset-y: -335px;
$icon-success-width: 67px;
$icon-success-height: 55px;
$icon-success-total-width: 513px;
$icon-success-total-height: 482px;
$icon-success-image: '../images/sprite.png';
$icon-success: (124px, 335px, -124px, -335px, 67px, 55px, 513px, 482px, '../images/sprite.png', 'icon-success', );
$icon-warning-name: 'icon-warning';
$icon-warning-x: 440px;
$icon-warning-y: 216px;
$icon-warning-offset-x: -440px;
$icon-warning-offset-y: -216px;
$icon-warning-width: 22px;
$icon-warning-height: 19px;
$icon-warning-total-width: 513px;
$icon-warning-total-height: 482px;
$icon-warning-image: '../images/sprite.png';
$icon-warning: (440px, 216px, -440px, -216px, 22px, 19px, 513px, 482px, '../images/sprite.png', 'icon-warning', );
$lang-de-name: 'lang-de';
$lang-de-x: 339px;
$lang-de-y: 400px;
$lang-de-offset-x: -339px;
$lang-de-offset-y: -400px;
$lang-de-width: 24px;
$lang-de-height: 18px;
$lang-de-total-width: 513px;
$lang-de-total-height: 482px;
$lang-de-image: '../images/sprite.png';
$lang-de: (339px, 400px, -339px, -400px, 24px, 18px, 513px, 482px, '../images/sprite.png', 'lang-de', );
$spritesheet-width: 513px;
$spritesheet-height: 482px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arr-left, $arr-orange-bottom, $arr-right, $cat-other-hov, $cat-other, $cat1-hov, $cat1, $cat10-hov, $cat10, $cat11-hov, $cat11, $cat12-hov, $cat12, $cat13-hov, $cat13, $cat14-hov, $cat14, $cat15-hov, $cat15, $cat16-hov, $cat16, $cat2-hov, $cat2, $cat3-hov, $cat3, $cat4-hov, $cat4, $cat5-hov, $cat5, $cat6-hov, $cat6, $cat7-hov, $cat7, $cat8-hov, $cat8, $cat9-hov, $cat9, $ic-add-mage, $ic-cat-agricultural-act, $ic-cat-agricultural, $ic-cat-attachments-act, $ic-cat-attachments, $ic-cat-containers-act, $ic-cat-containers, $ic-cat-cranes-act, $ic-cat-cranes, $ic-cat-engines-act, $ic-cat-engines, $ic-cat-equipment-act, $ic-cat-equipment, $ic-cat-forestry-act, $ic-cat-forestry, $ic-cat-forklifts-act, $ic-cat-forklifts, $ic-cat-industrial-act, $ic-cat-industrial, $ic-cat-machinery-act, $ic-cat-machinery, $ic-cat-municipal-act, $ic-cat-municipal, $ic-cat-others-act, $ic-cat-others, $ic-cat-recyclings-act, $ic-cat-recyclings, $ic-cat-spare-act, $ic-cat-spare, $ic-cat-trailers-act, $ic-cat-trailers, $ic-cat-utility-act, $ic-cat-utility, $ic-cat-work-act, $ic-cat-work, $ic-close, $ic-earth, $ic-fb, $ic-in, $ic-skype, $ic-tw, $icon-add-favorite-1, $icon-add-favorite, $icon-archive, $icon-arrow-right, $icon-dialog, $icon-fb, $icon-grid-act, $icon-grid, $icon-list-act, $icon-list, $icon-off, $icon-pay-status-ok, $icon-status-warning, $icon-status-yellow, $icon-success, $icon-warning, $lang-de, );
$spritesheet: (513px, 482px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
