body {
    color: $greyblack;
    font: 12px/1.5em 'MuseoSC', 'Open sans';
}

a {
    color: $greyblack;
    &:hover {
        color: $yellow;
    }
}

.cf:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}
area {
	outline: none !important;
}
.flexbox {
    display: block;
    @include flexbox();
}

.flex-wrap {
    @include wrap(wrap);
}

.just-around {
    @include just-around();
}

.just-between {
    @include just_btw();
}

.white {
    color: #fff;
}

.align-auto {
    margin: auto;
}

.align-items-center {
    align-items: center;
}

.blur-bg {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(15px);
}

.slick-arrow {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    background: #2c363c;
    color: #fff;
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    text-indent: -900px;
    &:before {
        content: '';
        background-image: url(../images/sprite.png);
        height: 20px;
        width: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -5px;
        margin-top: -10px;
    }
    &:hover {
        background: $yellow;
    }
    &.slick-prev {
        order: 3;
        &:before {
            @include sprite-position($arr-left);
        }
    }
    &.slick-next {
        order: 4;
        &:before {
            @include sprite-position($arr-right);
        }
    }
}
.pager-nav {
    ul.ul-pager {
        float: right;
        li {
            margin: 0 3px;
            display: inline-block;
            float: left;
            a, span {
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                background: #2c363c;
                border: none;
                border-radius: 0;
                float: none;
                display: block;
                margin: 0;
                height: 40px;
                width: 40px;
                padding: 0;
                text-align: center;
                line-height: 40px;
                &:hover {
                    background: $yellow;
                    color: #fff;
                }
            }
            &.active {
                a, span {
                    color: $yellow;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            &.prev {
                a, span {
                    overflow: hidden;
                    text-indent: -900px;
                    position: relative;
                    &:before {
                        content: '';
                        @include sprite($arr-left);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }

                }
            }
            &.next {
                a, span {
                    overflow: hidden;
                    text-indent: -900px;
                    position: relative;
                    &:before {
                        content: '';
                        @include sprite($arr-right);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}