@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin wrap($val) {
    -webkit-flex-wrap: $val;
    -moz-box-flex-wrap: $val;
    -ms-flex-wrap: $val;
    flex-wrap: $val;
}
@mixin just_btw(){
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@mixin center_both(){
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
