
.account-container {
  margin-bottom: 175px;
  label {
    margin-left: 15px;
    margin-bottom: 5px;
  }
}
.social-inputs {
  margin-bottom: 15px;
  padding-left: 75px;
  width: 390px;
  .soc-ic {
    float: left;
    margin: 9px 0 0 -35px;
  }
  input {
    [type=text] {

    }
  }
}
.inline-input {
  input {
    display: inline-block;
  }
}
.action-profile {
  padding-left: 75px;
}
.list-messages {
  .date {
    color: #999;
  }
}
.communion-item {
  margin: 15px;
  border: 1px solid rgb(228, 228, 228);
  padding: 10px 40px 10px 15px;
  border-radius: 6px;
  position: relative;
  .h3 {
    font-size: 18px;
  }
  .buttons {
    position: absolute;
    bottom: 12px;
    right: 15px;
    text-align: right;
    a {
      display: block;
      vertical-align: middle;
      margin: 3px;
      font-size: 14px;
    }
  }
}
.mess-item {
  margin: 6px 0;
  border-radius: 6px;
  padding: 15px;
  max-width: 75%;
  clear: both;
  &.mess-his {
    float: left;
    background: #e0f2fa;
  }
  &.mess-my {
    float: right;
    background: #96f2bf;
  }
}