@charset "UTF-8";
.header, .header:before {
    position: fixed;
    top: 0;
    left: 0
}

.header [class*=" icon-"]:before, .header [class^=icon-]:before, .search-bg:after {
    font-family: icomoon
}

.header {
    color: rgba(77, 77, 77, .502);
    width: 100%;
    background-color: #FFF;
    z-index: 100;
    opacity: 1;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .1)
}

@media (max-width: 1200px) {
    .header {
        transition: all .2s;
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0
    }
}

.header [class*=" icon-"], .header [class^=icon-] {
    font-size: 16px;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.header:before {
    content: '';
    right: 0;
    height: 0;
    opacity: 0;
    z-index: 200;
    background-color: rgba(255, 255, 255, .95);
    transition: opacity .3s;
    will-change: opacity
}

.header .hideWhenScrollJS {
    transition: all .3s
}

.header .header__wrapper {
    padding-left: 7.85%;
    padding-right: 7.85%
}

@media (max-width: 1200px) {
    .header .header__wrapper.header__wrapper--first {
        height: 50px
    }

    .header .header__wrapper {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width: 1201px) {
    .header .header__wrapper.header__wrapper--first {
        height: 25px
    }
}

.header .header-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.header .header-row.header-row--first {
    line-height: 24px
}

.header .header-row.header-row--second {
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px
}

@media (max-width: 1200px) {
    .header .header-row.header-row--first {
        background-color: #4776be;
        height: 50px;
        line-height: 50px
    }

    .header .header-row.header-row--second {
        height: 60px;
        line-height: 60px
    }

    .header .header__products-menu {
        margin-right: 20px
    }
}

.header .header__info-menu, .header .header__products-menu, .header .header__sub-logo, .header .header__user__menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.header .header__sub-logo {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.header .header__products-menu {
    height: 100%
}

.header .header__info-menu {
    margin-left: 80px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: grey
}

.header .header__call-me {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    margin-right: 80px
}

@media (max-width: 1200px) {
    .header .header__info-menu {
        transition: all .2s;
        will-change: left;
        position: relative;
        left: 0;
        margin-left: 0;
        background-color: #FFF;
        width: 235px
    }

    .header .header__call-me {
        margin-right: 0;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        width: 33.33333%;
        margin-left: 20px
    }

    .header .header__call-me i {
        font-size: 20px;
        color: #4776be
    }
}

@media (max-width: 600px) {
    .header .header__call-me {
        width: 30px
    }
}

.header .sub-logo__item {
    width: 93px
}

.header .sub-logo__item:last-child {
    width: 70px;
    opacity: .4
}

.header .sub-logo__item.sub-logo__item--nl {
    position: relative
}

.header .header__main-logo {
    width: 180px;
    z-index: 102
}

@media (max-width: 1200px) {
    .header .header__main-logo {
        width: 33.33333%;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        text-align: center;
        z-index: 0
    }
}

@media (max-width: 600px) {
    .header .header__main-logo {
        width: 100%
    }
}

.header .main-logo {
    max-width: 130px
}

.header .search__input {
    position: relative;
    width: 100%
}

.header .search__input.search__input--active {
    position: fixed;
    z-index: 1000
}

.header .search__input.search__input--active .input__item {
    border-color: #4776be
}

.header .search__input.search__input--active a:hover {
    color: #4776be;
    cursor: default
}

@media (max-width: 1200px) {
    .header .search__input {
        text-align: right
    }

    .header .search__input .search-placeholder {
        position: fixed;
        left: 60px;
        font-size: 24px;
        top: 10px;
        color: #333;
        z-index: 2000;
        opacity: 0;
        transition: opacity .3s
    }

    .header .search__input .search-placeholder.search-placeholder--active {
        opacity: 1
    }
}

@media (max-width: 1200px) and (max-width: 600px) {
    .header .search__input .search-placeholder {
        left: 35px
    }
}

.header .header__search {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 36px
}

.header .header__search .search_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, .95);
    transition: opacity .3s;
    z-index: 101
}

.header .header__search .search_bg.search_bg--active {
    height: 100%;
    opacity: 1
}

@media (max-width: 1200px) {
    .header .header__search {
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 0;
        width: 33.33333%;
        margin-right: 20px;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

@media (max-width: 600px) {
    .header .header__search {
        width: 30px
    }
}

.header .input__icon {
    color: #4776be;
    position: absolute;
    top: 3px;
    right: 10px
}

.header .input__icon i {
    font-size: 20px
}

.header .input__icon:hover {
    color: #333;
    text-decoration: none
}

@media (max-width: 1200px) {
    .header .input__icon {
        position: relative;
        top: 0;
        right: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%
    }

    .header .input__icon:after {
        display: none
    }

    .header .input__icon:hover {
        color: #4776be
    }
}

.header .search__input-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .95);
    z-index: 1000;
    display: none
}

.header .search__input-bg i {
    position: absolute;
    right: 10%;
    font-size: 30px;
    cursor: pointer
}

.header .search__input-result {
    display: none;
    opacity: 0;
    position: relative;
    z-index: 2000;
    margin-top: 20px;
    width: 200%
}

.header .search__input-result.search__input-result--active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.header .input__item {
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 36px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    transition: width .3s, -webkit-transform .3s;
    transition: width .3s, transform .3s;
    transition: width .3s, transform .3s, -webkit-transform .3s;
    will-change: width
}

.header .input__item:focus {
    outline: 0
}

.header .input__item.input__item--on-focus {
    z-index: 2000
}

.header .input__item.input__item--small {
    position: fixed;
    display: block !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 30px
}

.header .input__item.input__item--small-active {
    border: 1px solid #e5e5e5;
    padding: 4px 20px;
    z-index: 2000
}

@media (max-width: 1200px) {
    .header .input__item {
        display: block !important;
        position: fixed;
        width: calc(100% - 120px);
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #4776be;
        left: 60px;
        top: 72px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0 0;
        transform-origin: 100% 0 0
    }

    .header .input__item.input__item--on-focus {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@media (max-width: 601px) {
    .header .input__item {
        width: calc(100% - 70px);
        left: 35px
    }
}

.header .input__item.input__item--small-active + .input__icon {
    z-index: 2000
}

.header .search__bg, .header .search__result {
    display: none
}

.header .products-menu__item {
    font-size: 13px;
    position: relative;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    height: 100%
}

.header .products-menu__item:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.header .products-menu__item:hover a {
    color: #4776be
}

.header .products-menu__item a {
    color: grey;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.header .products-menu__item a i {
    font-size: 24px;
    color: #4776be;
    position: relative
}

.header .products-menu__item a:hover {
    text-decoration: none
}

.header .products-menu__item.products-menu__item--l-ml-40 {
    margin-left: 40px
}

.header .header__partners {
    background-color: #FFF;
    width: 235px
}

.header .header__partners img {
    opacity: .4
}

@media (max-width: 1200px) {
    .header .products-menu__item a i {
        color: #FFF
    }

    .header .products-menu__item {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .header .products-menu__item .products-menu__item i {
        font-size: 24px;
        top: 6px
    }

    .header .header__partners {
        transition: all .2s;
        will-change: left;
        position: relative;
        left: 0
    }
}

.header .language-choose label {
    color: grey
}

.header .langSwitchN {
    position: relative
}

.header .langSwitchN:after, .header .langSwitchN:before {
    content: '';
    position: absolute;
    border-radius: 5px
}

.header .langSwitchN:after {
    transition: right .2s;
    will-change: right;
    top: 5px;
    right: calc(100% + 12px);
    width: 6px;
    height: 6px;
    background-color: #fff
}

.header .langSwitchN:before {
    top: 4px;
    right: 100%;
    margin-right: 5px;
    width: 14px;
    height: 8px;
    background-color: grey
}

.header .langSwitchN.langSwitchN--ru:after {
    right: calc(100% + 6px)
}

.header .info-menu__item {
    font-size: 12px
}

.header .info-menu__item.info-menu__item--location-change {
    font-size: 11px;
    color: #4d4d4d;
    text-decoration: underline
}

.header .info-menu__item.info-menu__item--location {
    font-size: 14px
}

@media (max-width: 1200px) {
    .header .langSwitchN:after, .header .langSwitchN:before {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .header .header__location {
        background-color: #fafafa
    }

    .header .info-menu__item.info-menu__item--location {
        margin-bottom: 20px
    }

    .header .info-menu__item.info-menu__item--location i {
        top: 0
    }
}

.header .info-menu__item i {
    font-size: 20px;
    position: relative;
    top: 4px
}

.header .info-menu__item a {
    color: grey;
    padding-left: 15px;
    padding-right: 15px
}

.header .info-menu__item a:hover {
    color: #4776be;
    text-decoration: none
}

@media (max-width: 1200px) {
    .header .info-menu__item a {
        color: inherit;
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width: 1601px) {
    .header .info-menu__item a i {
        margin-right: 5px !important
    }
}

.header .main-nav {
    background-color: #4776be;
    transition: all .3s, left .2s;
    will-change: left;
    transition-delay: .3s, 0s;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 7.85%;
    padding-right: 7.85%
}

@media (max-width: 1200px) {
    .header .main-nav {
        width: 235px;
        padding-left: 0;
        padding-right: 0;
        left: 0
    }

    .header .main-nav .menu {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (min-width: 1201px) {
    .header .main-nav {
        height: 40px
    }

    .header .main-nav .menu {
        padding-left: 100px;
        padding-right: 100px;
        height: 100%;
        position: relative;
        transition: left .3s;
        will-change: left;
        left: 0
    }

    .header .main-nav .menu.menu--show-more {
        left: -900px
    }

    .header .main-nav .header-row {
        height: 100%
    }

    .header .main-nav:hover {
        height: 80px
    }

    .header .main-nav:hover .mobile-nav__bg {
        height: 100vh;
        opacity: 1
    }

    .header .main-nav:hover .main-nav__more a:before {
        transition: font-size .4s ease;
        transition-delay: .3s
    }

    .header .main-nav:hover .main-nav__item > a:before, .header .main-nav:hover .main-nav__more > a:before {
        transition: color .2s, -webkit-transform .3s;
        transition: transform .3s, color .2s;
        transition: transform .3s, color .2s, -webkit-transform .3s;
        will-change: color;
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
        transition-delay: .3s, 0s, .3s
    }

    .header .main-nav:hover .main-nav__more > a:before {
        transition-delay: .3s, 0s, 0s
    }
}

.header .main-nav__more {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    position: absolute;
    top: 0;
    color: #FFF;
    right: 0;
    width: 100px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    height: 100%
}

.header .main-nav__more a:before {
    position: absolute;
    font-size: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
    bottom: 26px
}

.header .main-nav__more:hover {
    color: #333
}

.header .main-nav__more.main-nav__more--rotate a:before {
    -webkit-transform: translateX(-50%) rotate(180deg) scale(1) !important;
    transform: translateX(-50%) rotate(180deg) scale(1) !important;
    transition-delay: .3s, 0s, 0s !important
}

.header .mobile-nav__bg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 0;
    opacity: 0;
    transition: opacity .3s;
    will-change: opacity;
    transition-delay: .3s;
    background-color: rgba(255, 255, 255, .95)
}

@media (max-width: 1200px) {
    .header .mobile-nav__bg {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .2s;
        transition-delay: 0s
    }
}

.header .main-nav__item, .header .main-nav__more {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    transition: width .3s, opacity .3s, background-color .2s, -webkit-transform .3s;
    transition: width .3s, opacity .3s, transform .3s, background-color .2s;
    transition: width .3s, opacity .3s, transform .3s, background-color .2s, -webkit-transform .3s;
    will-change: width, opacity, background-color
}

.header .main-nav__item.main-nav__item--hide, .header .main-nav__more.main-nav__item--hide {
    width: 0;
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
}

.header .main-nav__item.main-nav__item--sale > a, .header .main-nav__item.main-nav__item--sale > a:before, .header .main-nav__more.main-nav__item--sale > a, .header .main-nav__more.main-nav__item--sale > a:before {
    color: #fff
}

.header .main-nav__item.main-nav__item--sale .heading__inner, .header .main-nav__more.main-nav__item--sale .heading__inner {
    color: #F60
}

.header .main-nav__item > a, .header .main-nav__more > a {
    position: relative;
    padding: 0;
    font-size: 13px;
    color: #fff
}

.header .main-nav__item > a:before, .header .main-nav__more > a:before {
    color: rgba(255, 255, 255, .5);
    position: absolute;
    font-size: 26px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    bottom: 26px;
    transition: color 0s, -webkit-transform .2s;
    transition: transform .2s, color 0s;
    transition: transform .2s, color 0s, -webkit-transform .2s;
    will-change: color;
    transition-delay: .3s, .15s
}

@media (max-width: 1200px) {
    .header .main-nav__item > a:before, .header .main-nav__more > a:before {
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1)
    }
}

@media (min-width: 1201px) {
    .header .mobile-nav__bg:hover {
        height: 0 !important
    }

    .header .main-nav__item, .header .main-nav__more {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        height: 100%;
        width: 100px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .header .main-nav__item > a, .header .main-nav__more > a {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 13px;
        height: 100%;
        width: 100%
    }

    .header .main-nav__item > a:before, .header .main-nav__more > a:before {
        bottom: 38px
    }

    .header .main-nav__item.main-nav__item--sale, .header .main-nav__more.main-nav__item--sale {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 0;
        margin-left: -100px;
        background-color: #4776be;
        z-index: 100
    }

    .header .main-nav__item.main-nav__item--sale img, .header .main-nav__more.main-nav__item--sale img {
        opacity: 1
    }

    .header .main-nav__item.main-nav__item--sale:hover > a, .header .main-nav__more.main-nav__item--sale:hover > a {
        text-decoration: none;
        color: #FFF
    }

    .header .main-nav__item.main-nav__item--sale:hover > a .sale-count, .header .main-nav__more.main-nav__item--sale:hover > a .sale-count {
        background-color: #FFF;
        color: #f60
    }

    .header .main-nav__item.main-nav__item--sale:hover > a:before, .header .main-nav__item:hover > a:before, .header .main-nav__more.main-nav__item--sale:hover > a:before, .header .main-nav__more:hover > a:before {
        color: #fff;
        text-decoration: none
    }

    .header .main-nav__item:hover, .header .main-nav__more:hover {
        background-color: rgba(255, 255, 255, .1)
    }

    .header .main-nav__item:hover > a, .header .main-nav__more:hover > a {
        text-decoration: none
    }

    .header .main-nav__item:hover .secondary-nav, .header .main-nav__more:hover .secondary-nav {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        overflow: hidden;
        transition: all .3s;
        transition-delay: .3s
    }

    .header .main-nav__item:hover .secondary-nav__item, .header .main-nav__more:hover .secondary-nav__item {
        height: 100px;
        font-size: 13px;
        margin: 1px !important;
        transition: height .3s, outline .2s;
        will-change: height, outline;
        transition-delay: .3s, 0s
    }

    .header .main-nav__item:hover .item-text, .header .main-nav__more:hover .item-text {
        font-size: 13px;
        transition: all .3s;
        will-change: font-size;
        transition-delay: .3s
    }

    .header .main-nav__item:hover .item-img, .header .main-nav__more:hover .item-img {
        height: 100px;
        transition: all .3s;
        transition-delay: .3s
    }
}

@media (max-width: 1200px) {
    .header .main-nav__item, .header .main-nav__more {
        height: 50px;
        width: 100%
    }

    .header .main-nav__item > a, .header .main-nav__more > a {
        width: 100%;
        padding-left: 20px;
        text-decoration: none;
        font-size: 16px
    }

    .header .main-nav__item > a:before, .header .main-nav__more > a:before {
        font-size: 20px;
        top: -4px;
        left: 100%;
        margin-left: -30px
    }

    .header .main-nav__item.main-nav__item--active, .header .main-nav__more.main-nav__item--active {
        background-color: rgba(255, 255, 255, .1)
    }

    .header .main-nav__item.main-nav__item--active .secondary-nav, .header .main-nav__more.main-nav__item--active .secondary-nav {
        right: 0
    }

    .header .main-nav__item.main-nav__item--active > a:before, .header .main-nav__more.main-nav__item--active > a:before {
        color: #fff
    }
}

@media (min-width: 1201px) {
    .header .main-nav-wapper {
        height: 40px;
        transition: all .2s
    }
}

@media (max-width: 1200px) {
    .header .main-nav-wapper {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        overflow-y: scroll;
        transition: left .3s linear;
        will-change: left
    }

    .header .main-nav-wapper.main-nav-wapper--active {
        left: 0
    }

    .header .main-nav-wapper.main-nav-wapper--active .mobile-nav__bg {
        height: 100%;
        opacity: 1
    }

    .header .main-nav-wapper.main-nav-wapper--choosing .header__partners .img--logo {
        opacity: 0
    }
}

@media (max-width: 1200px) and (max-width: 600px) {
    .header .main-nav-wapper.main-nav-wapper--choosing .header__info-menu, .header .main-nav-wapper.main-nav-wapper--choosing .header__partners, .header .main-nav-wapper.main-nav-wapper--choosing .main-nav {
        left: -170px
    }
}

.header .secondary-nav {
    position: fixed;
    right: 100%;
    top: 0;
    z-index: -1;
    background-color: #eee;
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: all .2s;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    will-change: left, right
}

@media (min-width: 1201px) {
    .header .secondary-nav {
        z-index: 1000;
        top: 175px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        right: 0;
        left: 0;
        transition-delay: .2s;
        overflow: hidden
    }
}

@media (max-width: 1200px) {
    .header .secondary-nav {
        overflow-y: scroll;
        bottom: 0;
        left: 235px;
        right: 100%
    }
}

@media (max-width: 600px) {
    .header .main-nav__item > a, .header .main-nav__more > a {
        font-size: 16px
    }

    .header .secondary-nav {
        left: 65px
    }
}

.header .secondary-nav__item {
    height: 100px;
    font-size: 16px;
    background-color: #fff;
    margin: 1px !important;
    position: relative
}

.header .secondary-nav__item.row {
    max-width: none
}

.header .secondary-nav__item svg {
    position: absolute;
    top: 0;
    height: 100%;
    right: 20px;
    opacity: .1;
    fill: #4776be
}

.header .secondary-nav__item.secondary-nav__item--heading {
    height: 50px;
    line-height: 50px;
    background-color: #FFF;
    font-size: 16px;
    position: relative;
    padding-left: 20px
}

.header .secondary-nav__item.secondary-nav__item--heading .sale-count-wrapper {
    display: inline-block
}

.header .secondary-nav__item.secondary-nav__item--heading .icon-check {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.header .secondary-nav__item.secondary-nav__item--heading .icon-check:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media (min-width: 1201px) {
    .header .secondary-nav__item {
        height: 100px;
        font-size: 13px
    }

    .header .secondary-nav__item:hover {
        outline: #4776be solid 1px
    }
}

.header .item-text {
    width: 110px;
    font-size: 16px;
    color: gray;
    line-height: 1.2;
    margin: 30px 0 0 30px;
    transition: all .2s;
    transition-delay: .2s
}

.header .item-img {
    line-height: 100;
    height: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .2s;
    transition-delay: .2s
}

.header .item-img img {
    max-height: 60px;
    max-width: 60px
}

@media (min-width: 1201px) {
    .header .item-text {
        font-size: 0
    }

    .header .item-img {
        line-height: 0;
        height: 0
    }
}

.header .call-me__btn {
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    line-height: 36px;
    height: 36px;
    padding: 0 16px;
    color: grey;
    transition: background-color .2s
}

.header .call-me__btn i {
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-right: 5px;
    color: #4776be
}

.header .call-me__btn:hover {
    background-color: #E5E5E5;
    color: #4776be;
    text-decoration: none
}

.header .call-me__numbers {
    margin-left: 20px
}

.header .call-me__numbers a {
    font-weight: 700;
    color: grey
}

.header .call-me__numbers a:hover {
    color: #4776be;
    text-decoration: none
}

.header .user__menu__item a {
    color: grey;
    position: relative;
    bottom: 1px;
    font-size: 12px
}

.header .user__menu__item a:hover {
    color: #4776be;
    text-decoration: none
}

.header .user__menu__item a.langSwitchN:hover:before {
    background-color: #4776be
}

@media (max-width: 1200px) {
    .header .user__menu__item a {
        font-size: 14px;
        margin-left: 20px;
        width: 100%
    }
}

.header .user__menu__item i {
    font-size: 20px;
    position: relative;
    top: 4px
}

.header .user__menu__item.user__menu__item--ml-40 {
    margin-left: 40px
}

@media (max-width: 1200px) {
    .header .user__menu__item {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .header .user__menu__item i {
        font-size: 20px;
        top: 3px
    }

    .header .mobile-nav__link {
        color: #FFF;
        margin-left: 20px
    }
}

.header .icon-check.icon-check {
    top: 3px
}

.header .mobile-nav__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.header .img {
    max-height: 100%
}

@media (min-width: 1201px) {
    .header .img.img--ml-10 {
        margin-left: 10px
    }

    .header .img.img--logo {
        max-width: 100%
    }
}

.header .img.img--logo.img--logo-e {
    opacity: 1
}

.header .logo-desrciption {
    font-size: 12px
}

.header .logo-desrciption.logo-desrciption--small {
    font-size: 11px
}

.header .placeholder {
    height: 110px;
    background-color: #ccc;
    border: 1px solid #aaa
}

.header .sale-count-wrapper {
    margin-left: 5px
}

.header .icon-sale {
    transition: all .2s
}

.header .sale-count {
    font-weight: 700;
    padding: 2px 5px;
    border-radius: 8px;
    text-align: center;
    background-color: #f60;
    color: #fff;
    font-size: 10px;
    transition: all .2s
}

@media (max-width: 1200px) {
    .header .row--xs-p-r-20, .header .xs-pr-20 {
        padding-right: 20px
    }

    .header .header {
        padding-top: 0
    }

    .header .row--xs-50 {
        height: 50px;
        line-height: 50px
    }

    .header .row--bg {
        background-color: #ccc;
        border: 1px solid #ccc
    }

    .header .xs-mr-30 {
        margin-right: 30px
    }

    .header .row--xs-40 {
        height: 40px
    }

    .header .row--xs-mt-10 {
        margin-top: 10px
    }

    .header .row--xs-mb-10 {
        margin-bottom: 10px
    }

    .header .xs-pl-23 {
        padding-left: 23px
    }

    .header .m-ml-10 {
        margin-left: 10px
    }

    .header .input__icon i {
        font-size: 24px
    }

    .header .icon-menu-link {
        font-size: 24px;
        color: #FFF
    }

    .header .row-xs-p-lr-20 {
        padding-left: 20px;
        padding-right: 20px
    }

    .header .row-xs-p-t-30 {
        padding-top: 30px
    }

    .header .row-xs-p-b-30 {
        padding-bottom: 30px
    }

    .header .columns-xs-35 {
        height: 35px;
        line-height: 35px
    }

    .header .row--xs-p-l-30 {
        padding-left: 30px
    }
}

.header .search-result__item {
    line-height: 1.5
}

.header .search-result-wrap {
    z-index: 400;
    top: 150px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

@media (max-width: 1200px) {
    .header .search-result-wrap {
        width: calc(100% - 20px);
        top: 50px;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%)
    }

    .header .search-result-items {
        overflow-y: auto
    }
}

.header .search-result-items {
    box-shadow: 0 0 30px 30px #fff
}

@media (min-width: 1201px) {
    .search-bg .input__icon {
        z-index: 2000
    }
}

.search-bg:before {
    height: 100%;
    opacity: 1
}

.search-bg:after {
    content: "\e969";
    position: fixed;
    top: 18px;
    right: 50px;
    font-size: 34px;
    cursor: pointer;
    color: #4776be;
    font-weight: 100;
    z-index: 1000
}

.hideWhenScrollJS, .hideWhenSmallScrollJS, .main-nav-wapper {
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0
}

.hideWhenScrollJS.hideWhenScrollJS--hide, .hideWhenSmallScrollJS.hideWhenScrollJS--hide, .main-nav-wapper.hideWhenScrollJS--hide {
    transition: all .3s;
    height: 0 !important;
    -webkit-transform: scaleY(0);
    transform: scaleY(0)
}

@media (max-width: 600px) {
    .header .search-result-wrap {
        width: 100%
    }

    .search-bg:after {
        right: 35px
    }

    .hideWhenScrollJS.hideWhenScrollJS--hide, .hideWhenSmallScrollJS.hideWhenScrollJS--hide, .main-nav-wapper.hideWhenScrollJS--hide {
        height: auto !important;
        -webkit-transform: none;
        transform: none;
        top: -140px
    }
}

.popup-form__btn-new--wrapper {
    float: left
}

.contacts-popup-t__call-me, .form_phone .popup-form__btn, .popup-form__btn-new {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #4776be;
    display: block;
    width: 230px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 40px;
    color: #FFF;
    font-size: 16px;
    transition: all .1s
}

.popup-block-new .mfp-close, .popup-call-me .mfp-close {
    display: none
}

.contacts-popup-t__call-me:hover, .form_phone .popup-form__btn:hover, .popup-form__btn-new:hover {
    text-decoration: none;
    box-shadow: none;
    top: 0;
    color: #FFF
}

@media (max-width: 420px) {
    .popup-form__btn-new--wrapper {
        float: none
    }

    .contacts-popup-t__call-me, .form_phone .popup-form__btn, .popup-form__btn-new {
        width: 100%;
        margin-left: auto;
        margin-right: auto
    }
}

.popup-block-new, .popup-location {
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.popup-form__btn-new:focus {
    color: #FFF
}

.popup-form__btn-new:hover {
    background-color: #5983c4
}

.form_phone .popup-form__btn {
    margin-left: auto;
    margin-right: auto
}

.popup-form__btn-reg--wrapper {
    float: right;
    font-size: 16px
}

.popup-form__btn-reg {
    line-height: 50px;
    color: #333
}

.popup-form__btn-reg:hover {
    text-decoration: none
}

@media (max-width: 420px) {
    .popup-form__btn-reg--wrapper {
        float: none;
        text-align: center
    }

    .popup-form__btn-reg {
        width: 90%;
        line-height: 30px;
        margin-left: auto;
        margin-right: auto
    }
}

.popup-block-new {
    max-width: 420px
}

@media (max-width: 1200px) {
    .popup-block-new .popup-form__label {
        font-size: 14px
    }
}

.popup-block-new .checkBoxWrap .checkBox:checked + label .checkbox-emulation:before {
    position: absolute;
    left: -4px;
    font-size: 22px
}

.social-heading {
    text-align: center;
    font-size: 13px;
    color: #333;
    margin-bottom: 8px
}

.social-enter {
    text-align: center;
    line-height: 28px
}

.social-enter a {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%
}

.social-enter a.icon-fb {
    color: #3E5C9A
}

.social-enter a.icon-vk {
    color: #22668C
}

.social-enter a.icon-twitter {
    color: #3CF
}

.social-enter a.icon-od {
    color: #ff9400
}

.social-enter a.icon-google {
    color: #DC4A3D;
    font-size: 28px;
    position: relative;
    top: 4px
}

.social-enter a:hover {
    text-decoration: none
}

.popup-block__title-new {
    margin-bottom: 30px;
    margin-top: 18px;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 32px
}

.popup-form__label {
    margin-bottom: 8px
}

.popup-location {
    max-width: 380px
}

.popup-location .mfp-close {
    display: none;
    right: -50px;
    top: -50px
}

.popup-location .bx-sls .dropdown-block {
    box-shadow: none
}

.popup-location .bx-ui-sls-fake {
    border-radius: 3px;
    border-color: grey
}

.popup-location .bx-ui-sls-fake:focus {
    outline-color: #4776be
}

.popup-location .location__title {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-bottom: 40px
}

.mfp-wrap:after {
    content: "";
    font-size: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHRpdGxlPtCc0L7QvdGC0LDQttC90LDRjyDQvtCx0LvQsNGB0YLRjCAxINC60L7Qv9C40Y88L3RpdGxlPjxwYXRoIGQ9Ik00OTQuNyw1MTAuNWMtNCwwLTguMS0xLjUtMTEuMS00LjZMNi4xLDI4LjRDMCwyMi4zLDAsMTIuMyw2LjEsNi4xczE2LjEtNi4xLDIyLjMsMGw0NzcuNCw0NzcuNGM2LjEsNi4xLDYuMSwxNi4xLDAsMjIuM0M1MDIuOCw1MDguOSw0OTguNyw1MTAuNSw0OTQuNyw1MTAuNXoiLz48cGF0aCBkPSJNMTcuMyw1MTAuNWMtNCwwLTguMS0xLjUtMTEuMS00LjZjLTYuMS02LjEtNi4xLTE2LjEsMC0yMi4zTDQ4My42LDYuMWM2LjItNi4xLDE2LjEtNi4xLDIyLjMsMGM2LjEsNi4xLDYuMSwxNi4xLDAsMjIuM0wyOC40LDUwNS45QzI1LjMsNTA4LjksMjEuMyw1MTAuNSwxNy4zLDUxMC41eiIvPjwvc3ZnPg==) center no-repeat;
    background-size: 18px 18px;
    opacity: 1;
    width: 98px;
    height: 98px;
    transition: opacity .225s ease;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 1046
}

@media screen and (max-width: 480px) {
    .mfp-wrap:after {
        width: 58px;
        height: 58px
    }
}

.header-placeholder {
    height: 135px
}

@media (max-width: 1201px) {
    .header-placeholder {
        height: 130px
    }
}

.popup-link:hover {
    text-decoration: none
}

@media (max-width: 1200px) {
    .popup-link {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .popup-form .popup-form__input {
        font-size: 16px
    }
}

.b24-widget-button-pulse.b24-widget-button-pulse-animate, .contacts-popup-t.contacts-popup-t .mfp-close {
    display: none
}

.contacts-popup-t.contacts-popup-t {
    height: auto;
    padding: 0;
    width: 90%;
    max-width: 380px
}

.contacts-popup-t.contacts-popup-t .contacts-popup-t__call-me {
    width: 90%
}

.popup-call-me.popup-call-me {
    padding: 0;
    width: 90%;
    max-width: 420px
}

.checkBoxWrap .checkBox.small + label .checkbox-emulation.small.small {
    margin-right: 10px;
    margin-top: 0;
    position: relative;
    top: 3px
}

.sticky.isScrolling:after, .sticky.isScrolling:before {
    transition: all 2s;
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 100%
}

.titleCheckBox.small.small {
    font-size: 14px
}

.popup-form__label.grey-4c {
    margin-bottom: 0
}

.header .main-nav__item--sale .item-img img {
    max-height: 60px;
    max-width: 60px
}

.sticky.isScrolling {
    border-bottom: 1px solid #e6e6e6;
    z-index: 1
}

.sticky.isScrolling:before {
    top: 0;
    right: 100%
}

.sticky.isScrolling:after {
    top: 0;
    left: 100%
}

.ripple-effect {
    position: relative;
    overflow: hidden
}

.ripple-effect:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #ccc 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(10, 10);
    transform: scale(10, 10);
    opacity: 0;
    transition: opacity 1s, -webkit-transform .5s;
    transition: transform .5s, opacity 1s;
    transition: transform .5s, opacity 1s, -webkit-transform .5s
}

.ripple-effect:active:after {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s
}