nav{
    background: linear-gradient(135deg,#4854a2,#772088);
    height: 40px;
}

.menu{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.main-nav {
    background-color: #4776be;

    will-change: left;
    transition: all .3s, left .2s;
    transition-delay: .3s, 0s;

    width: 100%;
    position: absolute;

}

.main-nav .icon{
    transition: all .3s, left .2s;
    transition-delay: .3s, 0s;
    display: block;
    border: 0px;
    margin-bottom: 10px;
}

.main-nav:hover{
    height: 70px;
}

.main-nav:hover .icon {
    padding-top: 30px;
}

.main-nav__item{
    float: left;
    list-style: none;
    width: 150px;
    padding-top: 10px;
    text-align: center;
}

.main-nav__item:hover{
    height: 70px;
    background-color: rgba(255, 255, 255, 0.1);
}


.main-nav__item  > a{
    color: #fff;
}

.main-nav__item ul{

}
.main-nav__item:hover .secondary-nav{

    opacity: 1;
}



.secondary-nav{
    transition: all .3s, left .2s;
    transition-delay: .3s, 0s;
    opacity: 0;
    margin:0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #fff;

}
.sub-item{
    list-style: none;
    padding: 20px;
    border: 1px solid #eee;
}

.sub-item .item-text{
    height: 40px;
    display: block;
    color: #999;
}
