/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2 лист. 2014, 16:30:32
    Author     : Сашка
*/
.level-1{ margin-left: 20px;}
.level-2{ margin-left: 40px;}
.level-3{ margin-left: 60px;}
.level-4{ margin-left: 80px;}
.level-5{ margin-left: 100px;}
.level-6{ margin-left: 120px;}
.level-7{ margin-left: 140px;}
.level-8{ margin-left: 160px;}
.level-9{ margin-left: 180px;}
.level-10{ margin-left: 200px;}

.comments-list .level{ display: block; overflow: hidden; margin-bottom: 10px; border-bottom: 0px solid #ddd; padding: 10px 0px;}
.comment-user-avatar{ float: left; margin-right: 20px;}
.comment-body{ float: left; display: block; clear: right; width: 90%;}
.ajax-comment-link,.comment-link{ display: block; font-size: 13px; margin-top: 10px; outline: none !important; float: left; margin-right: 10px;    }

.comments-created{ color: #0085f2; font-size: 12px; padding-left: 20px; }
.comments-author{ color: #999; }
.comment-control{ overflow: hidden;}


#comment-form,#ajax-comment-form{ padding-top: 10px; margin-top: 10px;  }
#comment-form .row .field-comments-comment{ margin: 0px; }

#comment-form{ width: 600px; margin-left: 20px; background-color: #f3f3f3; border-radius: 3px; padding: 20px; float: left;}
#comment-form .form-group{ width: auto; margin: 0px; }


.comments-list{ margin-left: 20px;}
.comments-list .comment-user-avatar img{ border: 1px solid #dfdfdf;}
.comments-list  .comment-body{ border: 1px solid #dfdfdf;   border-radius: 5px; padding: 10px;}


#comment-form .comment_user{ font-size: 18px; overflow: hidden; margin-bottom: 15px;   }
#comment-form .comment_user img{ margin-right: 15px; float: left; border: 3px solid #fff;}
.comment_user div{ float: left;}
.comment_user span{ clear: both; color: #8f8f8f; font-size: 11px; display: block;}
.comment_user a{ color:#000; }
#comments-type label{ margin-right: 40px;}
.field-comments-images .file-preview-image{ height: 100px !important; }
.field-comments-images .file-preview-frame{ height: auto; }

.comments-list .comment-body .comment{ margin-top: 8px;}

.comment-images{ overflow: hidden; margin-top: 15px; border-top: 1px dashed #dfdfdf; border-bottom: 1px dashed #dfdfdf; padding: 10px 0px; }
.comment-images a{ float: left; display: block; overflow: hidden;  }
.comment-images a img{

	margin-right: 7px;

}

#comments-name{ width: 190px;}
#comment-form .comment_user .field-comments-feed_back{ margin-left: 20px; width: 274px;}
#comments-feed_back{ width: 274px;}
#comment-form .help-block{ font-size: 12px;}
.comment-terms{ float: right; width: 310px; margin-top: 10px; color: #999;}
.comment-terms .title5{ font-size: 14px;  text-transform: uppercase; margin-bottom: 10px;}
.comment-terms ul{ list-style: disc; margin-left:15px; font-size: 14px;}
.comment-terms ul li{ padding-bottom: 5px; line-height: 1.2;}
#comment-form .comment_user label{ padding: 0px; }






