
@import 'https://fonts.googleapis.com/css?family=PT+Sans';
 
html,
body {
    height: 100%;
    font-size: 14px;
    font-family: 'PT Sans', Arial, sans-serif;
}
.breadcrumb{
    background-color: #fff;
    padding-left: 0px;
}
.wrap {
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    margin-left: 220px;
}
.btn-group.custom .btn{
    padding: 4px 12px;
}
.btn-group.custom .btn:hover{
    background-color: #f37f00;
    color: #fff;
    border-color: #f37f00;
}
.btn-group.custom .btn.active{
    background-color: #f37f00;
    color: #fff;
    border-color: #f37f00;
    box-shadow: none;
}

.btn-orange{
    background-color: #f37f00;
    color: #fff;
}
.btn-green{
    background-color: #adbc18;
    color: #fff;
}
.btn-custom{
    padding: 2px 10px;
    font-size: 13px;
}

.btn-orange:hover{
    color: #fff;
    background-color: #ff981f;
}

.form-control {
    padding: 4px 12px;
    height: auto;
    border-radius: 2px;
}
.pagination li a{
    color: #000;
    font-weight: bold;
    padding: 4px 12px;
}
.pagination .active a{
    background-color: #f37f00;
    border-color: #f37f00;
}
.wrap > .container {
    padding: 70px 15px 20px;
}

.header {
    height: 40px;
    border-bottom: 1px solid #ddd;
    margin-left: 220px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.control{
    border-bottom: 1px solid #ddd;
}

.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-left: 220px;
    margin-top: 20px;
    
}

h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 32px;
    
    font-size: 187%;
    line-height: 1.1;
    font-weight: 400;
}
h2{
    font-size: 163%;
    font-weight: 400;
}

/* add sorting icons to gridview sort links */

a{
    text-decoration: none;
    border-bottom: 1px solid rgba(102,102,102,.3);
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* search form */
#search-from{ margin-top: 18px; }
#search-from .input-group-addon{
    background-color: #fff;
    margin: 0px;
    font-size: 13px;
    height: 20px;
    line-height: 0px;
    top: 0px;
    color: #f37f00;
}

#search-from .form-group{ margin-bottom: 0px; }
#search-from .form-control,#search-from .btn{ border-left: 0px; box-shadow: none; top: 0px; }
#search-from .form-control{
    height: 30px;
    font-size: 13px;
    outline:none;
}

#search-from .select2-selection__arrow{ display: none;}
#search-from .select2-selection{ border-left: 0px; box-shadow: none; }
.select2-container.select2-container--krajee .select2-dropdown,
.select2-container.select2-container--krajee.select2-container--open .select2-selection,
.select2-container.select2-container--krajee .select2-selection:focus{ border-color: #ccc;}
.select2-container.select2-container--krajee .select2-dropdown{ border:none ; box-shadow: none; overflow-x: visible; }
.select2-container.select2-container--krajee .select2-dropdown .select2-results{
    border: 1px solid #ccc; 
    border-top: 0px; 
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    overflow-x: hidden;
    margin-top: -1px;
}
.select2-dropdown {

  box-shadow: none;
  
  /* border-color: @input-border-focus; */
  border-color: #66afe9;
  
  /* !important not needed with less */
  border-top-width: 0px!important;
  /*border-top-style: solid!important;*/
  border-top-left-radius: 4px!important;
  border-top-right-radius: 4px!important;
  
  /* margin-top: -@input-height-base; */
  margin-top: -27px!important;
}

.select2-dropdown .select2-search {
    padding: 0;
}

.select2-dropdown .select2-search .select2-search__field {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-radius: 0px !important;
  box-shadow: none !important;
  border:none !important;
  background: none !important;
}

/* sub menu */

.scroll-nav {
  position: absolute;
}

.scroll-nav.fixed .scroll-nav__wrapper {
  position: fixed;
  top: 60px;
}
/* profile */
.profile-img{
    float: left;
    text-align: center;  
}
.profile-img img{
    margin-bottom: 10px;
}
.profile-img .file-preview{
    border:none;
    padding: 0px;
}
.profile-img .file-drop-zone{
    margin: 0px;
}
.profile-img .kv-file-zoom,.profile-img .file-drag-handle,.profile-img .fileinput-remove,.profile-img .file-upload-indicator,.profile-img .kv-upload-progress{
    display: none;
}
.profile-info{
    margin-left: 40px;
    float: left;
     font-size: 15px;
}
.profile-info label{
    width: 100px;
    font-weight: normal;
}
.profile-info .required label{
    color: #e85222;
}
.my-orders .header{

    padding-right: 10px;
    height: 50px;
    background-color: #faf7f0;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
}

/* product */

.product .left{
    border-right: 1px solid #ddd
}
.produt-short{
    color: #999;
}
aside section {
    padding: 15px 20px;
    overflow: hidden;
    margin-left: -15px;
}
aside section .inline{ 
    width: 50%; 
    overflow: hidden;
    float: left;
}

.buy-block{
    background: #F8F7F5;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid #e7e7e7;
    padding-top: 2.65em;
}

.characteristic{
    margin: 0px 0px 30px 0px;
}
.characteristic ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.characteristic ul li{
    overflow: hidden;
    line-height: 2;
    
}
.characteristic span{
    text-align: left;
    font-weight: initial;
    font-size:14px;
    color: #000;
    padding: 0px;
    line-height: 2;
}
.characteristic .label{
    float: left;
    width: 400px;
}

.sku{
    float: left;
    color: #f37f00;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}
.product .rating-container{
    float: left;
    margin-left: 10px;
}
.rating-xs {
    font-size: 0px;
}
.rating-container .star {
    font-size: 15px;
    box-shadow: none;
    text-shadow: none; 
    -webkit-text-stroke:0px;
    color: #ccc;
}
.rating-container .filled-stars{
    text-shadow: none; 
}
.rating-container .filled-stars .star {
    color: #f37f00; 
}
.print-wrapper{ 
    float: right;
    color: #f37f00; 
    font-size: 14px;
    cursor: pointer;
}
.print-wrapper span{
    margin-right: 8px;
}

.produt-gallery{
    overflow: hidden;
    margin: 20px 0px;
    position: relative;
}
.produt-gallery li{
    list-style: none;
}
.produt-gallery li img{
    display: none;
}
.produt-gallery .bx-wrapper li img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.bx-viewport{

}
.bx-wrapper  .bx-controls-direction a{
    text-decoration: none;
    border-bottom: 0px;
    opacity: 0;
    transition: opacity 0.3s;
    background: none;
    text-indent: 0px;
    width: 50%;
    top: 0px;
    height: 80%;
}
.bx-wrapper  .bx-controls-direction a:before{
    content: '';
    width: 26px;
    height: 62px;
    background: url('../images/icon-set-00.png') no-repeat 0px -67px;
    display: block;
    float: right;
    top: 50%;
    position: absolute;
}

.bx-wrapper  .bx-controls-direction a.bx-prev:before{
    background-position: -128px 2px;
    left: 0px;
}

.bx-wrapper  .bx-controls-direction a.bx-next:before{
    right: 0px;
}

.produt-gallery:hover  .bx-controls-direction a{
    opacity: 1;
}

.bx-wrapper{
    box-shadow: none;
    border:none;
    height: auto;
    clear: both;
    position: initial;
    margin-bottom: 10px;

}
.bx-wrapper ul li{
    list-style: none;
    float: left;
    height: 450px;
}
#bx-pager a{
    display: inline-block;
    border: 1px solid #fff; 
    border-radius: 6px;
    padding:4px 2px;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}
#bx-pager a img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
#bx-pager a.active{
    border: 1px solid #f37f00; 
}
.buy-block button{
    font-size: 16px;
    margin-top: 4px;
}
.buy-block .price{
    float: left;
    color: #f37f00;
    font-size: 32px;
}

.buy-block .price span{
    font-size: 18px;
}

/* catagory */

.scroll-nav__wrapper{
    background-color: #FAF7F0;
    padding: 14px 0px;
    width: 245px;
}
.scroll-nav__wrapper ol{
    list-style: none;
    padding: 0px;
    line-height: 1.8;
}
.scroll-nav__wrapper ol li{
        padding: 0px 20px;
}
.scroll-nav__wrapper ol a{
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid rgba(102,102,102,.5);
}
.scroll-nav__wrapper .in-view{
    background-color: wheat; 
}

.catalog-category-list a{
    color: #000;
    display: table;
}
.catalog-category-list a.link_side-menu{
    font-size: 14px;
    margin-bottom: 20px;
}
.catalog-category img{
    max-height: 100px;
}
.catalog-category a.img{
    text-align: center;
    display: block;
    width: 80%;
    border: none;
}
.catalog-category h2{
    margin-top: 0px;
    margin-bottom: 30px;
   
}
.catalog-category h2 a{
    color: #000;
    text-decoration: none;
    border:none;
    line-height: 1;
}
.catalog-category h2 a:hover{
    border-bottom: 1px solid rgba(102,102,102,.3);
}
.catalog-category .category__item{
    overflow: hidden;
    margin-bottom: 40px;
}
.catalog-category .rating-container{
    float: none;
    margin: 0px;
}
.catalog-category .item{
    width: 200px;
    float: left;
    overflow: hidden;
    margin: 0px 10px;
}
.product-status{
    display: block;
    height: 20px;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    margin-top: 6px;
}
.product-status span{
    display: block;
    float: left;
    margin-right: 4px;
    padding: 1px 4px;
    
}
.product-status span.top-100{
    background-color: #f37f00;
}
.product-status span.akciya{
    background-color: #f37f00;
}
.product-status span.novinka{
    background-color: #acbc16;
}
.product-status span.hit{
    background-color: #a43a8d;
}
.catalog-category .title{
    display: block;
    height: 40px;
    border: 0px;
    text-decoration: underline;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.catalog-category .price{
    color: #f37f00;
    font-size: 18px;
    margin-bottom: 6px;
    float: left;
}
.catalog-category .old_price{
    float: left;
    font-size: 16px;
    color: #999;
    margin-left: 10px;
    margin-top: 2px;
}
.catalog-category .buy-btn-conteiner{
    clear: both;
}
.catalog-category .buy-button{
    background-color: #fff;
    color: #2e6da4;
    font-size: 14px;
    border-color: #337ab7;
    transition: background-color 0.3s;
}
.catalog-category .buy-button:hover{
    background-color: #337ab7;
    color: #fff;
}


.catalog-list .item{
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}
.catalog-list .left{
    float: left;
    width: 120px;
}
.catalog-list .right{
    margin-left: 130px;
}
.catalog-list a.img{
    border: none;
    width: 100px;
    margin: 10px auto;
    display: block; 
}
.catalog-list .title{
    font-size: 18px;
}
.catalog-list .produt-short{
    margin: 10px 0px;
}
.catalog-list .price-conteiner{
    background-color: #f6f1e3;
    padding: 8px 20px;
}
.catalog-list .price-conteiner .price {
    color: #f37f00;
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
}
.catalog-list .price-conteiner .buy-btn-conteiner{
    float: right;
}
.comments-count a{
    color: #aaa;
    font-size: 13px;
    line-height: 1;
}
.comments-count i{
    float: left;
    color: #fff;
    text-shadow: 0px 0px 1px #000000;
    margin: 5px 6px 0px 1px;
}
.comments-count a:hover{
    color: #f37f00;
    border-color: #f37f00;
}
.comments-count a:hover i{
    text-shadow: 0px 0px 1px #f37f00;
}

.buy-button{
    font-size: 15px;
    padding: 4px 12px;
}

/* filter */

.filter{
    background-color: #faf7f0;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 60px;
}
.filter .filter-item{
    border-radius: 3px;
    padding: 2px 4px;
}
.filter .filter-item.active{
    background: #d2dce1;
}
.filter a{
    color: #000;
    font-size: 13px;
}
.filter a i{
    display: none;
}
.filter .filter-item.active a{
    border-bottom: 0px;
}
.filter .filter-item.active i{
   font-size: 10px;
   margin-right: 4px;
   font-weight: normal;
   display:initial;
}
.filter span.h4{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: #000;
    font-family: Arial;
}
.filter section{
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    overflow: hidden;
}
.filter section:last-child{
    border-bottom: 0px;
}
.field-filtermodel-pricerange{
    width: 60%;
    float: left;
    margin: 0px 20px;
    margin-top: 2px;
}
.slider.slider-horizontal {
    width: 100%;
}
.price-range  input {
    width: 60px;
    border: 1px solid #c1c1c1;
    padding: 2px 6px;
    float: left;
}
#priceMax{
    margin-right: 10px;
}
#filtermodel-pricerange{
    display: none;
}
.price-range .slider-selection {
    background: none;
    box-shadow: none;
    background-color: #f6a828
}
.price-range .slider-handle  {
    border: 1px solid #ccc;
    background: #f6f6f6;
    font-weight: 700;
    color: #1c94c4;
    width: 14px;
    height: 14px;
    border-radius: 3px;
}
.slider.slider-horizontal .slider-track {
    height: 5px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -4px;
}
.slider-track-low, .slider-track-high {
    background-color: #000;
    border-radius: 0px;
}
.slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
    height: 40%;
    top: 2px;
}
/* cart */

#cart-block-widget{ float: right; height: 64px; border-left: 1px solid #eee; padding: 20px;}
.mif-shopping-basket{ font-size: 24px; color: #f37f00; float: left; margin-right: 10px; }
.cart-items{ line-height: 2; font-style: italic; line-height: 2; }
#cart-block-widget a{
     border-color: rgba(35,82,124,.3);
}
.cart-total{ 
    color: #f37f00; 
    font-weight: bold;
    font-size: 13px; 
    line-height: 2;
    margin-left: 8px;
}

/* user */
.user-page{
    margin-top: 20px;

}
.user-page form{
    overflow: hidden;
}
.user-page button{
    float: left;
    font-size: 16px;
    width: auto;
    min-width: 80px;
}
.user-page .auth-clients{
    margin: 0px;
}
.user-page .form-control{
    border-radius: 0px;

}
.login{
    float: right;
    height: 64px;
    border-left: 1px solid #eee;
    padding: 20px;
    line-height: 2;
    overflow: hidden;
}
.login a.popover-toggle{
    color: #000;
}
.user-page {
    background-color: #f8f7f5;
    padding: 20px;
    max-width: 600px;
    margin-left: -15px;
}
.user-page label{
    font-weight: normal;
}
.user-page .links{
    float: right;
    margin-top: -28px;
}
.login-page .links{
    float: none;
    margin-top: 15px;
}
#login-form .form-group,#registration-form .form-group{
    max-width: 300px;
}
#registration-form hr, #login-form hr{
    border-color: #ccc;
    margin-top: 30px;
    margin-bottom: 28px;
}
#login-form-captcha-image{
    margin-bottom: 4px;
    margin-left: 10px;
}
 .hint-block{
    font-size: 12px;
}
.login .popover{
    top: 95px !important;
    border-radius: 0px;
    border-top: 0px;
}
/* index */
.site-index{
    margin-top: 20px;
}
.site-index .catalog-category{
    margin-top: 20px;
}
.site-index .tab-items.catalog-category{
   display: none; 
}
.site-index .tab-items.catalog-category.active{
    display: block;
}
.menu-action-items{
    position: initial;
}
#popover-overlay{
    position: absolute;
    z-index: 1059;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: none;
}

